Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): update versions (#468)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.192.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): pass content type to probes
  app/service.go
Due: apps

fix(apps): pass content type to probes (#469)
  app/service.go
Due: apps

fix(do): update k8s to 1.30.4-do.0
  do/do.go
Due: do

chore(release): v1.192.1 [ci skip]
  CHANGELOG.md
Due: none

fix(do): update k8s to 1.30.4-do.0 (#470)
  do/do.go
Due: do

chore(release): v1.192.2 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#471)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.193.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#472)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.194.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

fix(apps): update versions (#473)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.194.1 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions (#474)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.194.2 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
  assets/..png
Due: apps

feat(apps): update versions (#475)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
  assets/..png
Due: apps

chore(release): v1.195.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions (#476)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.195.1 [ci skip]
  CHANGELOG.md
Due: none

feat(cf): add settings for zone
  Makefile
  cf/cf.go
Due: cf

feat(cf): add settings for zone (#477)
  Makefile
  cf/cf.go
Due: cf

chore(release): v1.196.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions (#478)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.196.1 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): wrong config version for bezeichner
  area/apps/lean/bezeichner.go
Due: apps

fix(apps): wrong config version for bezeichner (#479)
  area/apps/lean/bezeichner.go
Due: apps

chore(release): v1.196.2 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions (#480)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.196.3 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.197.0 [ci skip]
  CHANGELOG.md
Due: none
