Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

feat(apps): update versions (#787)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.422.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): update alexfalkowski/k8s:1.19
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): update alexfalkowski/k8s:1.19 (#788)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): update versions
  .circleci/continue_config.yml
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: gh, cf, do, apps

feat(apps): update versions (#789)
  .circleci/continue_config.yml
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: gh, cf, do, apps

chore(release): v1.423.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#790)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.424.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#791)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.425.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#792)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.426.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#793)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.427.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#794)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.428.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#795)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.429.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#797)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.430.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#798)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.431.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#800)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.432.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update konfig v1.449.0
  area/apps/lean/konfig.go
  area/apps/lean/konfig.yaml
Due: apps

feat(apps): update konfig v1.449.0 (#801)
  area/apps/lean/konfig.go
  area/apps/lean/konfig.yaml
Due: apps

chore(release): v1.433.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update konfigctl to v0.175.0
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update konfigctl to v0.175.0 (#802)
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: app/.*)) or (any of: go.*)
