Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, k8s, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            area/do/.* do true
            do/.* do true
            go.* do true

            area/k8s/.* k8s true
            area/apps/.* apps true
          base-revision: origin/master
          resource_class: large

fix(apps): konfig server.yaml missing v1 (#210)
  area/apps/konfig/config.yaml
Due: apps

chore(release): v1.50.1 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): add check for app-config
  area/gh/other.go
Due: gh

feat(gh): add check for app-config (#211)
  area/gh/other.go
Due: gh

chore(release): v1.51.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add init container for standort
  area/apps/standort/config.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): add init container for standort (#212)
  area/apps/standort/config.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.52.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): use args for standort-init
  area/apps/standort/service.yaml
Due: apps

fix(apps): use args for standort-init (#213)
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.52.1 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): remove multiple volumeMounts for standort-init
  area/apps/standort/service.yaml
Due: apps

fix(apps): remove multiple volumeMounts for standort-init (#214)
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.52.2 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): add volumeMounts for standort
  area/apps/standort/service.yaml
Due: apps

fix(apps): add volumeMounts for standort (#215)
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.52.3 [ci skip]
  CHANGELOG.md
Due: none

feat(bezeichner): add app
  README.md
  area/apps/Makefile
  area/apps/bezeichner/config.yaml
  area/apps/bezeichner/include.mk
  area/apps/bezeichner/ingress.yaml
  area/apps/bezeichner/service.yaml
  area/cf/main.go
Due: cf, apps

feat(bezeichner): add app (#216)
  README.md
  area/apps/Makefile
  area/apps/bezeichner/config.yaml
  area/apps/bezeichner/include.mk
  area/apps/bezeichner/ingress.yaml
  area/apps/bezeichner/service.yaml
  area/cf/main.go
Due: cf, apps

chore(release): v1.53.0 [ci skip]
  CHANGELOG.md
Due: none

fix(bezeichner): make sure we release
  .circleci/continue_config.yml
Due: none

fix(bezeichner): make sure we release (#217)
  .circleci/continue_config.yml
Due: none

chore(release): v1.53.1 [ci skip]
  CHANGELOG.md
Due: none

build(ci): check config
  .circleci/config.yml
Due: none

build(ci): check config (#218)
  .circleci/config.yml
Due: none

build(ci): move to makefile
  .circleci/continue_config.yml
  area/apps/Makefile
Due: apps

build(ci): move to makefile (#219)
  .circleci/continue_config.yml
  area/apps/Makefile
Due: apps

fix(gh): import bezeichner
  README.md
  area/gh/main.go
  area/gh/service.go
Due: gh

fix(gh): import bezeichner (#220)
  README.md
  area/gh/main.go
  area/gh/service.go
Due: gh

chore(release): v1.53.2 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/bezeichner/service.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): update versions (#221)
  area/apps/bezeichner/service.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.54.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/konfig/service.yaml
Due: apps

feat(apps): update versions (#222)
  area/apps/konfig/service.yaml
Due: apps

chore(release): v1.55.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add kube-linter
  .circleci/continue_config.yml
  area/apps/.kube-linter.yaml
  area/apps/Makefile
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): add kube-linter (#223)
  .circleci/continue_config.yml
  area/apps/.kube-linter.yaml
  area/apps/Makefile
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.56.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): lower cpu
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps
