Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#543)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.244.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): use v0.78.0 for web
  area/apps/lean/web.go
Due: apps

fix(apps): use v0.78.0 for web (#544)
  area/apps/lean/web.go
Due: apps

chore(release): v1.244.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#545)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.245.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.246.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.247.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

fix(apps): update versions (#548)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.247.1 [ci skip]
  CHANGELOG.md
Due: none

feat(cf): enable dnssec
  cf/balancer.go
  cf/cf.go
  cf/page.go
Due: cf

feat(cf): enable dnssec (#549)
  cf/balancer.go
  cf/cf.go
  cf/page.go
Due: cf

chore(release): v1.248.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update web to v0.80.0
  area/apps/lean/web.go
Due: apps

feat(apps): update web to v0.80.0 (#550)
  area/apps/lean/web.go
Due: apps

chore(release): v1.249.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.250.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#552)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.251.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.252.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.253.0 [ci skip]
  CHANGELOG.md
Due: none

fix(do): update cluster to 1.31.1-do.4
  do/do.go
Due: do

fix(do): update cluster to 1.31.1-do.4 (#555)
  do/do.go
Due: do

chore(release): v1.253.1 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.254.0 [ci skip]
  CHANGELOG.md
Due: none

feat(cf): set ssl to strict
  cf/balancer.go
  cf/cf.go
  cf/page.go
Due: cf

feat(cf): set ssl to strict (#557)
  cf/balancer.go
  cf/cf.go
  cf/page.go
Due: cf

chore(release): v1.255.0 [ci skip]
  CHANGELOG.md
Due: none

docs(diagrams): update
  assets/..png
Due: none

docs(diagrams): update (#558)
  assets/..png
Due: none

feat(apps): update versions (#559)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.256.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update versions
  area/k8s/Makefile
  area/k8s/grafana/cluster.yaml
  area/k8s/grafana/kube.yaml
Due: none

feat(k8s): update versions (#560)
  area/k8s/Makefile
  area/k8s/grafana/cluster.yaml
  area/k8s/grafana/kube.yaml
Due: none
