Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): update versions
  area/apps/apps.pbtxt
Due: apps

feat(apps): update versions (#930)
  area/apps/apps.pbtxt
Due: apps

chore(release): v1.523.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#931)
  area/apps/apps.pbtxt
Due: apps

chore(release): v1.524.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update konfig to v1.522.0
  area/apps/apps.pbtxt
Due: apps

feat(apps): update konfig to v1.522.0 (#932)
  area/apps/apps.pbtxt
Due: apps

chore(release): v1.525.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#933)
  area/apps/apps.pbtxt
Due: apps

chore(release): v1.526.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#934)
  area/apps/apps.pbtxt
Due: apps

chore(release): v1.527.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/apps.pbtxt
  area/apps/lean/init.yaml
  area/apps/lean/konfig.yaml
Due: apps

feat(apps): update versions (#935)
  area/apps/apps.pbtxt
  area/apps/lean/init.yaml
  area/apps/lean/konfig.yaml
Due: apps

chore(release): v1.528.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  area/apps/apps.pbtxt
  area/apps/lean/init.yaml
  area/apps/lean/konfig.yaml
Due: apps

fix(apps): update versions (#936)
  area/apps/apps.pbtxt
  area/apps/lean/init.yaml
  area/apps/lean/konfig.yaml
Due: apps

chore(release): v1.528.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#937)
  area/apps/apps.pbtxt
Due: apps

chore(release): v1.529.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use ssh keys for konfig
  area/apps/apps.pbtxt
  area/apps/lean.mk
  area/apps/lean/init.yaml
  area/apps/lean/konfig.yaml
Due: apps

feat(apps): use ssh keys for konfig (#938)
  area/apps/apps.pbtxt
  area/apps/lean.mk
  area/apps/lean/init.yaml
  area/apps/lean/konfig.yaml
Due: apps

chore(release): v1.530.0 [ci skip]
  CHANGELOG.md
Due: none

feat(do): increase to s-4vcpu-8gb
  internal/do/do.go
Due: none

feat(do): increase to s-4vcpu-8gb (#939)
  internal/do/do.go
Due: none

chore(release): v1.531.0 [ci skip]
  CHANGELOG.md
Due: none

feat(do): remove project
  .circleci/continue_config.yml
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/Makefile
  area/apps/lean/init.yaml
  area/apps/lean/konfig.yaml
  area/cf/cf.pbtxt
  area/do/do.pbtxt
  area/do/main.go
  area/do/main_test.go
  internal/app/app.go
  internal/cf/balancer.go
  internal/cf/cf.go
  internal/cf/page.go
  internal/do/do.go
  internal/do/do_test.go
  internal/errors/errors.go
  internal/gh/gh.go
  internal/runtime/runtime.go
Due: gh, cf, do, apps

feat(do): remove project (#940)
  .circleci/continue_config.yml
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/Makefile
  area/apps/lean/init.yaml
  area/apps/lean/konfig.yaml
  area/cf/cf.pbtxt
  area/do/do.pbtxt
  area/do/main.go
  area/do/main_test.go
  internal/app/app.go
  internal/cf/balancer.go
  internal/cf/cf.go
  internal/cf/page.go
  internal/do/do.go
  internal/do/do_test.go
  internal/errors/errors.go
  internal/gh/gh.go
  internal/runtime/runtime.go
Due: gh, cf, do, apps

chore(release): v2.0.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): enable api-breaking
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): enable api-breaking (#941)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): move to use ssh keys
  area/apps/apps.pbtxt
  area/apps/lean.mk
  area/apps/lean/init.yaml
  area/apps/lean/konfig.yaml
  internal/app/app.go
Due: apps

feat(apps): move to use ssh keys (#942)
  area/apps/apps.pbtxt
  area/apps/lean.mk
  area/apps/lean/init.yaml
  area/apps/lean/konfig.yaml
  internal/app/app.go
Due: apps

chore(release): v2.1.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#943)
  area/apps/apps.pbtxt
Due: apps
