Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

chore(release): v1.257.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.258.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.259.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.260.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.261.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update konfig to v1.304.0
  area/apps/lean/konfig.go
Due: apps

feat(apps): update konfig to v1.304.0 (#565)
  area/apps/lean/konfig.go
Due: apps

chore(release): v1.262.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#566)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.263.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

fix(apps): update versions (#567)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.263.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#568)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.264.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#569)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.265.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps):
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

fix(apps): (#570)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.265.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update konfig to v1.308.0
  area/apps/lean/konfig.go
Due: apps

feat(apps): update konfig to v1.308.0 (#571)
  area/apps/lean/konfig.go
Due: apps

chore(release): v1.266.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.267.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#573)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.268.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#574)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.269.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.270.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.271.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): add idp
  area/gh/gh.go
  area/gh/idp.go
  area/gh/service.go
Due: gh

feat(gh): add idp (#577)
  area/gh/gh.go
  area/gh/idp.go
  area/gh/service.go
Due: gh

chore(release): v1.272.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add kind to token
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.go
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): add kind to token (#578)
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.go
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps
