Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, k8s, apps

fix(cf): update balancer ip (#196)
  area/cf/main.go
Due: cf

chore(release): v1.45.3 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): add backend-protocol for grpc
  area/apps/standort/ingress.yaml
Due: apps

fix(apps): add backend-protocol for grpc (#197)
  area/apps/standort/ingress.yaml
Due: apps

chore(release): v1.45.4 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): do not expose grpc
  area/apps/standort/ingress.yaml
  area/cf/main.go
Due: cf, apps

fix(apps): do not expose grpc (#198)
  area/apps/standort/ingress.yaml
  area/cf/main.go
Due: cf, apps

chore(release): v1.45.5 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add resources standort
  area/apps/standort/service.yaml
Due: apps

feat(apps): add resources standort (#199)
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.46.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use a configmap
  area/apps/Makefile
  area/apps/standort/config.yaml
  area/apps/standort/server.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): use a configmap (#200)
  area/apps/Makefile
  area/apps/standort/config.yaml
  area/apps/standort/server.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.47.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): use version
  area/apps/standort/service.yaml
Due: apps

fix(apps): use version (#201)
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.47.1 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): upgraded standort to v2.80.0
  area/apps/standort/service.yaml
Due: apps

fix(apps): upgraded standort to v2.80.0 (#202)
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.47.2 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.47.3 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): add grafana v0.3.22
  .circleci/continue_config.yml
  area/apps/Makefile
  area/k8s/Makefile
  area/k8s/grafana/cluster.yaml
  area/k8s/grafana/kube.yaml
  area/k8s/grafana/logs.yaml
  area/k8s/grafana/metrics.yaml
Due: k8s, apps

feat(k8s): add grafana v0.3.22 (#203)
  .circleci/continue_config.yml
  area/apps/Makefile
  area/k8s/Makefile
  area/k8s/grafana/cluster.yaml
  area/k8s/grafana/kube.yaml
  area/k8s/grafana/logs.yaml
  area/k8s/grafana/metrics.yaml
Due: k8s, apps

chore(release): v1.48.0 [ci skip]
  CHANGELOG.md
Due: none

fix(k8s): remove separator
  area/apps/Makefile
  area/k8s/Makefile
  area/k8s/grafana/cluster.yaml
  area/k8s/grafana/kube.yaml
Due: k8s, apps

fix(k8s): remove separator (#205)
  area/apps/Makefile
  area/k8s/Makefile
  area/k8s/grafana/cluster.yaml
  area/k8s/grafana/kube.yaml
Due: k8s, apps

chore(release): v1.48.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): upgraded standort to v2.81.0
  area/apps/Makefile
  area/apps/standort/config.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): upgraded standort to v2.81.0 (#206)
  area/apps/Makefile
  area/apps/standort/config.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.49.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): fix hosts
  area/apps/standort/config.yaml
Due: apps

fix(apps): fix hosts (#207)
  area/apps/standort/config.yaml
Due: apps

chore(release): v1.49.1 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): upgraded standort to v2.82.0
  area/apps/standort/service.yaml
Due: apps

fix(apps): upgraded standort to v2.82.0 (#208)
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.49.2 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add konfig
  .circleci/continue_config.yml
  .editorconfig
  README.md
  area/apps/Makefile
  area/apps/konfig/config.yaml
  area/apps/konfig/include.mk
  area/apps/konfig/service.yaml
  area/apps/standort/include.mk
Due: apps

feat(apps): add konfig (#209)
  .circleci/continue_config.yml
  .editorconfig
  README.md
  area/apps/Makefile
  area/apps/konfig/config.yaml
  area/apps/konfig/include.mk
  area/apps/konfig/service.yaml
  area/apps/standort/include.mk
Due: apps

chore(release): v1.50.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): konfig server.yaml missing v1
  area/apps/konfig/config.yaml
Due: apps

Path conditions:
  gh: ((any of: area/gh/.*) or (any of: gh/.*)) or (any of: go.*)
  cf: ((any of: area/cf/.*) or (any of: cf/.*)) or (any of: go.*)
  do: ((any of: area/do/.*) or (any of: do/.*)) or (any of: go.*)
  k8s: any of: area/k8s/.*
  apps: any of: area/apps/.*
