Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

chore(release): v1.329.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#664)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.330.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

fix(apps): update versions (#665)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.330.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#666)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.331.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.332.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions (#668)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.332.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#669)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.333.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions (#670)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.333.1 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.334.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#672)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.335.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#673)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.336.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#674)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.337.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use alexfalkowski/k8s:1.8
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use alexfalkowski/k8s:1.8 (#675)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

fix(apps):
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

fix(apps): update versions (#677)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.337.1 [ci skip]
  CHANGELOG.md
Due: none

fix(deps): update go to v1.23.5
  .circleci/continue_config.yml
  go.mod
Due: gh, cf, do, apps

fix(deps): update go to v1.23.5 (#679)
  .circleci/continue_config.yml
  go.mod
Due: gh, cf, do, apps

chore(release): v1.337.2 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.338.0 [ci skip]
  CHANGELOG.md
Due: none

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: app/.*)) or (any of: go.*)
