Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

chore(release): v2.151.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use new cli
  area/apps/apps.pbtxt
Due: apps

feat(apps): use new cli (#1155)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.152.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): move standort to v2 module
  area/apps/apps.pbtxt
Due: apps

feat(apps): move standort to v2 module (#1156)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.153.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update otel
  area/apps/apps.pbtxt
Due: apps

feat(apps): update otel (#1158)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.154.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.155.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update otel log
  Makefile
  area/apps/apps.pbtxt
  assets/..png
Due: apps

feat(apps): update otel log (#1161)
  Makefile
  area/apps/apps.pbtxt
  assets/..png
Due: apps

chore(release): v2.156.0 [ci skip]
  CHANGELOG.md
Due: none

feat(v2): move module to v2
  .circleci/continue_config.yml
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/main.go
  area/apps/main_test.go
  area/cf/main.go
  area/cf/main_test.go
  area/do/main.go
  area/do/main_test.go
  area/gh/main.go
  area/gh/main_test.go
  go.mod
  internal/app/account.go
  internal/app/app.go
  internal/app/app_test.go
  internal/app/container.go
  internal/app/deployment.go
  internal/app/policy.go
  internal/app/secret.go
  internal/app/security.go
  internal/cf/balancer.go
  internal/cf/bucket.go
  internal/cf/cf.go
  internal/cf/cf_test.go
  internal/cf/page.go
  internal/do/do.go
  internal/do/do_test.go
  internal/gh/gh.go
  internal/gh/gh_test.go
  internal/gh/protection.go
  internal/gh/repository.go
Due: gh, cf, do, apps

feat(v2): move module to v2 (#1162)
  .circleci/continue_config.yml
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/main.go
  area/apps/main_test.go
  area/cf/main.go
  area/cf/main_test.go
  area/do/main.go
  area/do/main_test.go
  area/gh/main.go
  area/gh/main_test.go
  go.mod
  internal/app/account.go
  internal/app/app.go
  internal/app/app_test.go
  internal/app/container.go
  internal/app/deployment.go
  internal/app/policy.go
  internal/app/secret.go
  internal/app/security.go
  internal/cf/balancer.go
  internal/cf/bucket.go
  internal/cf/cf.go
  internal/cf/cf_test.go
  internal/cf/page.go
  internal/do/do.go
  internal/do/do_test.go
  internal/gh/gh.go
  internal/gh/gh_test.go
  internal/gh/protection.go
  internal/gh/repository.go
Due: gh, cf, do, apps

build(ci): reenable api-breaking
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.157.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): reenable api-breaking (#1163)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): update otel instrumentation
  area/apps/apps.pbtxt
Due: apps

feat(apps): update otel instrumentation (#1164)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.158.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): just use os.Exit
  area/apps/apps.pbtxt
Due: apps

feat(apps): just use os.Exit (#1165)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.159.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): simplify resource
  .circleci/continue_config.yml
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/apps.pbtxt
  internal/app/app.go
  internal/app/resource.go
Due: gh, cf, do, apps

feat(apps): simplify resource (#1166)
  .circleci/continue_config.yml
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/apps.pbtxt
  internal/app/app.go
  internal/app/resource.go
Due: gh, cf, do, apps

chore(release): v2.160.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): reenable api-breaking (#1167)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): add more aliases
  area/apps/apps.pbtxt
Due: apps

feat(apps): add more aliases (#1168)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.161.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): move events
  area/apps/apps.pbtxt
Due: apps

feat(apps): move events (#1169)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.162.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): move to a stateful set
  area/apps/lean.mk
  internal/app/app.go
  internal/app/stateful.go
Due: apps

feat(apps): move to a stateful set (#1170)
  area/apps/lean.mk
  internal/app/app.go
  internal/app/stateful.go
Due: apps

chore(release): v2.163.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): we do not need stateful set
  internal/app/app.go
  internal/app/deployment.go
Due: apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: internal/gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: internal/cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: internal/do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: internal/app/.*)) or (any of: go.*)
