Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(app): add timout to probes (#426)
  app/service.go
Due: apps

chore(release): v1.170.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): bump cpu for konfig
  area/apps/lean/konfig.go
Due: apps

feat(apps): bump cpu for konfig (#427)
  area/apps/lean/konfig.go
Due: apps

chore(release): v1.171.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.go
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#428)
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.go
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.172.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  .circleci/continue_config.yml
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: gh, cf, do, apps

fix(apps): update versions (#431)
  .circleci/continue_config.yml
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: gh, cf, do, apps

chore(release): v1.172.1 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.172.2 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.172.3 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

fix(apps): update versions (#432)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.172.4 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions (#433)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.172.5 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#434)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.173.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.173.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#436)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.174.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update konfig
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.go
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update konfig (#438)
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.go
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.175.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): make sure secrets are explicit
  app/app.go
  app/app_test.go
  app/service.go
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): make sure secrets are explicit (#439)
  app/app.go
  app/app_test.go
  app/service.go
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.176.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean.mk
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.go
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#440)
  area/apps/lean.mk
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.go
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.177.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): wrong otlp_secret
  area/apps/lean.mk
Due: apps

fix(apps): wrong otlp_secret (#441)
  area/apps/lean.mk
Due: apps

chore(release): v1.177.1 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.177.2 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.177.3 [ci skip]
  CHANGELOG.md
Due: none
