Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

feat(apps): update versions (#612)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.297.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

fix(apps): update versions (#615)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.297.1 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.298.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#617)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.299.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#620)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.300.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#621)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.301.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#622)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.302.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): archive idp repositories
  area/gh/idp.go
Due: gh

feat(gh): archive idp repositories (#623)
  area/gh/idp.go
Due: gh

chore(release): v1.303.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  .circleci/continue_config.yml
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: gh, cf, do, apps

fix(apps): update versions (#624)
  .circleci/continue_config.yml
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: gh, cf, do, apps

chore(release): v1.303.1 [ci skip]
  CHANGELOG.md
Due: none

build(ci): update k8s:1.4
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): update k8s:1.4 (#625)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v1.304.0 [ci skip]
  CHANGELOG.md
Due: none

feat(cf): upgrade from flexible to full
  cf/balancer.go
Due: cf

feat(cf): upgrade from flexible to full (#627)
  cf/balancer.go
Due: cf

chore(release): v1.305.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps):
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#629)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.306.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update konfig to v1.339
  area/apps/lean/konfig.go
  assets/..png
Due: apps

feat(apps): update konfig to v1.339 (#630)
  area/apps/lean/konfig.go
  assets/..png
Due: apps

chore(release): v1.307.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): update to alexfalkowski/go:1.4
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): update to alexfalkowski/go:1.4 (#631)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: app/.*)) or (any of: go.*)
