Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

release(bezeichner): upgraded to v1.636.0 (#1670)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.628.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.628.0 (#1671)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.198.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.198.0 (#1672)
  area/apps/apps.pbtxt
Due: apps

feat(k8s): add better stack collector
  area/k8s/Makefile
Due: none

feat(k8s): add better stack collector (#1673)
  area/k8s/Makefile
Due: none

chore(release): v2.354.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.355.0 [ci skip]
  CHANGELOG.md
Due: none

release(bezeichner): upgraded to v1.637.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.637.0 (#1676)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.629.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.629.0 (#1677)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.199.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.199.0 (#1678)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.630.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.630.0 (#1679)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.638.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.638.0 (#1680)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.200.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.200.0 (#1681)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.639.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.639.0 (#1682)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.631.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.631.0 (#1683)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.201.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.201.0 (#1684)
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1685)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.356.0 [ci skip]
  CHANGELOG.md
Due: none

release(web): upgraded to v1.202.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.202.0 (#1686)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.640.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.640.0 (#1687)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.632.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.632.0 (#1688)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.357.0 [ci skip]
  CHANGELOG.md
Due: none

release(bezeichner): upgraded to v1.641.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.641.0 (#1690)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.203.0
  area/apps/apps.pbtxt
Due: apps
