Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

feat(apps): update versions (#351)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

chore(release): v1.121.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

feat(apps): update versions (#352)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

chore(release): v1.122.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#353)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

chore(release): v1.123.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#354)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

chore(release): v1.124.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#355)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

chore(release): v1.125.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#356)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

chore(release): v1.126.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#357)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

chore(release): v1.127.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh):
  area/gh/main.go
  area/gh/service.go
Due: gh

feat(gh): add web repository
  area/gh/main.go
  area/gh/service.go
Due: gh

feat(gh): add web repository (#359)
  area/gh/main.go
  area/gh/service.go
Due: gh

fix(gh): enable pages in web
  area/gh/service.go
Due: gh

chore(release): v1.128.0 [ci skip]
  CHANGELOG.md
Due: none

fix(gh): enable pages in web (#360)
  area/gh/service.go
Due: gh

chore(release): v1.128.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add web app
  area/apps/Makefile
  area/apps/main.go
  area/apps/web.go
  area/apps/web.mk
  area/cf/main.go
  assets/..png
Due: cf, apps

feat(apps): add web app (#361)
  area/apps/Makefile
  area/apps/main.go
  area/apps/web.go
  area/apps/web.mk
  area/cf/main.go
  assets/..png
Due: cf, apps

chore(release): v1.129.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update web to v0.4.0
  area/apps/web.go
Due: apps

feat(apps): update web to v0.4.0 (#362)
  area/apps/web.go
Due: apps

chore(release): v1.130.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): add web to circleci
  area/k8s/Makefile
Due: none

feat(k8s): add web to circleci (#363)
  area/k8s/Makefile
Due: none

chore(release): v1.131.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update web to v0.6.0
  area/apps/web.go
Due: apps

feat(apps): update web to v0.6.0 (#364)
  area/apps/web.go
Due: apps

chore(release): v1.132.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update web to v0.7.0
  area/apps/web.go
Due: apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: app/.*)) or (any of: go.*)
