Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

feat(apps): update sasha to v0.13.0 (#1055)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.81.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update sasha to v0.13.1
  area/apps/apps.pbtxt
Due: apps

feat(apps): update sasha to v0.13.1 (#1056)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.82.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update sasha to v0.13.2
  area/apps/apps.pbtxt
Due: apps

feat(apps): update sasha to v0.13.2 (#1057)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.83.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.84.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.85.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): udpate sasha to v0.14.0
  area/apps/apps.pbtxt
Due: apps

feat(apps): udpate sasha to v0.14.0 (#1060)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.86.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): udpate sasha to v0.15.0
  area/apps/apps.pbtxt
Due: apps

feat(apps): udpate sasha to v0.15.0 (#1061)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.87.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): archive konfig related
  area/gh/gh.pbtxt
Due: gh

feat(gh): archive konfig related (#1062)
  area/gh/gh.pbtxt
Due: gh

chore(release): v2.88.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): move config to be hosted here
  .circleci/continue_config.yml
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/apps.pbtxt
  area/apps/lean/bezeichner.yaml
  area/apps/lean/sasha.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
  internal/app/app.go
  internal/app/app_test.go
  internal/app/config.go
  internal/app/container.go
  internal/app/deployment.go
  internal/app/secret.go
  internal/app/test/init.yaml
  internal/app/test/test.yaml
Due: gh, cf, do, apps

feat(apps): move config to be hosted here (#1063)
  .circleci/continue_config.yml
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/apps.pbtxt
  area/apps/lean/bezeichner.yaml
  area/apps/lean/sasha.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
  internal/app/app.go
  internal/app/app_test.go
  internal/app/config.go
  internal/app/container.go
  internal/app/deployment.go
  internal/app/secret.go
  internal/app/test/init.yaml
  internal/app/test/test.yaml
Due: gh, cf, do, apps

chore(release): v2.89.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): remove input file, as it will search common places
  internal/app/container.go
Due: apps

feat(apps): remove input file, as it will search common places
  .circleci/continue_config.yml
  area/apps/apps.pbtxt
  internal/app/container.go
Due: gh, cf, do, apps

feat(apps): remove input file, as it will search common places (#1065)
  .circleci/continue_config.yml
  area/apps/apps.pbtxt
  internal/app/container.go
Due: gh, cf, do, apps

chore(release): v2.90.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.91.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update nginx-ingress to v4.12.2
  area/k8s/Makefile
Due: none

feat(k8s): update nginx-ingress to v4.12.2 (#1067)
  area/k8s/Makefile
Due: none

chore(release): v2.92.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): disable workflows until we have a fix for memory
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): disable workflows until we have a fix for memory (#1068)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): add missing apps to be verified
  area/apps/lean.mk
  area/k8s/Makefile
Due: apps

feat(apps): add missing apps to be verified (#1069)
  area/apps/lean.mk
  area/k8s/Makefile
Due: apps

chore(release): v2.93.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update monitoror to v1.8
  area/apps/apps.pbtxt
Due: apps

feat(apps): update monitoror to v1.8 (#1070)
  area/apps/apps.pbtxt
Due: apps

feat(apps): update sasha to v0.18.0
  area/apps/apps.pbtxt
Due: apps

feat(apps): update sasha to v0.18.0 (#1071)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.94.0 [ci skip]
  CHANGELOG.md
Due: none

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: internal/gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: internal/cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: internal/do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: internal/app/.*)) or (any of: go.*)
