Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

release(standort): upgraded to v2.615.0 (#1609)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.185.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.185.0 (#1610)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.624.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.624.0 (#1608)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.625.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.625.0 (#1611)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.186.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.186.0 (#1613)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.616.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.616.0 (#1612)
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1614)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1616)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.341.0 [ci skip]
  CHANGELOG.md
Due: none

release(bezeichner): upgraded to v1.626.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.626.0 (#1617)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.617.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.617.0 (#1618)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.187.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.187.0 (#1619)
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images (#1621)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.342.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.343.0 [ci skip]
  CHANGELOG.md
Due: none

release(bezeichner): upgraded to v1.627.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.627.0 (#1623)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.618.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.618.0 (#1624)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.188.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.188.0 (#1625)
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images (#1626)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1627)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(standort): upgraded to v2.619.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.619.0 (#1629)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.628.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.628.0 (#1630)
  area/apps/apps.pbtxt
Due: apps
