Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

fix(apps): update versions
  area/apps/apps.go
Due: apps

fix(apps): update versions (#320)
  area/apps/apps.go
Due: apps

chore(release): v1.104.2 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions (#321)
  area/apps/apps.go
Due: apps

chore(release): v1.104.3 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions (#322)
  area/apps/apps.go
Due: apps

chore(release): v1.104.4 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.104.5 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  area/apps/apps.go
  area/gh/client.go
  area/gh/lib.go
  area/gh/other.go
  area/gh/service.go
  gh/gh.go
Due: gh, apps

fix(apps): update versions (#324)
  area/apps/apps.go
  area/gh/client.go
  area/gh/lib.go
  area/gh/other.go
  area/gh/service.go
  gh/gh.go
Due: gh, apps

chore(release): v1.104.6 [ci skip]
  CHANGELOG.md
Due: none

fix(gh): use pointer
  area/gh/client.go
  gh/gh.go
  gh/gh_test.go
Due: gh

fix(gh): use pointer (#325)
  area/gh/client.go
  gh/gh.go
  gh/gh_test.go
Due: gh

chore(release): v1.104.7 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions (#326)
  area/apps/apps.go
Due: apps

chore(release): v1.104.8 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/apps.go
Due: apps

feat(apps): update versions (#327)
  area/apps/apps.go
Due: apps

chore(release): v1.105.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#328)
  area/apps/apps.go
Due: apps

chore(release): v1.106.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.106.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#330)
  area/apps/apps.go
Due: apps

chore(release): v1.107.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#331)
  area/apps/apps.go
Due: apps

chore(release): v1.108.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps):
  .circleci/continue_config.yml
  app/app.go
  area/apps/Makefile
  area/apps/apps.go
  area/apps/bezeichner.mk
  area/apps/standort.mk
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(apps): add probing
  .circleci/continue_config.yml
  app/app.go
  area/apps/Makefile
  area/apps/apps.go
  area/apps/bezeichner.mk
  area/apps/standort.mk
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(apps): add probing (#333)
  .circleci/continue_config.yml
  app/app.go
  area/apps/Makefile
  area/apps/apps.go
  area/apps/bezeichner.mk
  area/apps/standort.mk
  go.mod
  go.sum
Due: gh, cf, do, apps

chore(release): v1.109.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): add codecov
  .circleci/continue_config.yml
  README.md
Due: gh, cf, do, apps

build(ci): add codecov (#334)
  .circleci/continue_config.yml
  README.md
Due: gh, cf, do, apps

feat(apps): update konfig to v1.177.0
  area/apps/apps.go
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

feat(apps): update konfig to v1.177.0 (#335)
  area/apps/apps.go
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: app/.*)) or (any of: go.*)
