Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

chore(release): v2.2.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): load otlp from file
  area/apps/lean.mk
Due: apps

feat(apps): load otlp from file (#945)
  area/apps/lean.mk
Due: apps

docs(diagrams): update with make
  assets/..png
Due: none

chore(release): v2.3.0 [ci skip]
  CHANGELOG.md
Due: none

build(make): supress the command
  area/apps/Makefile
  area/apps/lean.mk
  area/k8s/Makefile
Due: apps

docs(diagrams): update with make (#946)
  assets/..png
Due: none

build(make): supress the command (#947)
  area/apps/Makefile
  area/apps/lean.mk
  area/k8s/Makefile
Due: apps

feat(apps): update versions
  area/apps/apps.pbtxt
Due: apps

feat(apps): update versions (#948)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.4.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use lexfalkowski/go:2.7
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use lexfalkowski/go:2.7 (#949)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(cf): add support for R2
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/cf/cf.pbtxt
  area/cf/main.go
  area/cf/main_test.go
  internal/cf/bucket.go
  internal/cf/cf_test.go
Due: cf

feat(cf): add support for R2 (#950)
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/cf/cf.pbtxt
  area/cf/main.go
  area/cf/main_test.go
  internal/cf/bucket.go
  internal/cf/cf_test.go
Due: cf

chore(release): v2.5.0 [ci skip]
  CHANGELOG.md
Due: none

docs(readme): add examples
  README.md
  assets/..png
Due: none

docs(readme): add examples (#951)
  README.md
  assets/..png
Due: none

fix(cf): move account to an env varaible
  internal/cf/cf.go
Due: none

fix(cf): move account to an env varaible (#952)
  internal/cf/cf.go
Due: none

chore(release): v2.5.1 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use alexfalkowski/k8s:1.37
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.6.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use alexfalkowski/k8s:1.37 (#954)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.7.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update konfig to v1.530
  area/apps/apps.pbtxt
Due: apps

feat(apps): update konfig to v1.530 (#956)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.8.0 [ci skip]
  CHANGELOG.md
Due: none

feat(api): add version to schema
  .circleci/continue_config.yml
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/apps.pbtxt
  area/cf/cf.pbtxt
  area/do/do.pbtxt
  area/gh/gh.pbtxt
Due: gh, cf, do, apps

feat(api): add version to schema (#957)
  .circleci/continue_config.yml
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/apps.pbtxt
  area/cf/cf.pbtxt
  area/do/do.pbtxt
  area/gh/gh.pbtxt
Due: gh, cf, do, apps

build(ci): reenable api-breaking
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.9.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): reenable api-breaking (#958)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): use maps.Copy
  internal/app/metadata.go
Due: none

feat(apps): use maps.Copy (#959)
  internal/app/metadata.go
Due: none

chore(release): v2.10.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): allow externale apps (monitoror)
  .circleci/continue_config.yml
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/apps.pbtxt
  area/cf/cf.pbtxt
  internal/app/app.go
  internal/app/config.go
  internal/app/metadata.go
  internal/app/service.go
Due: gh, cf, do, apps

feat(apps): allow externale apps (monitoror) (#960)
  .circleci/continue_config.yml
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/apps.pbtxt
  area/cf/cf.pbtxt
  internal/app/app.go
  internal/app/config.go
  internal/app/metadata.go
  internal/app/service.go
Due: gh, cf, do, apps

chore(release): v2.11.0 [ci skip]
  CHANGELOG.md
Due: none

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: app/.*)) or (any of: go.*)
