Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

feat(gh): use supported collaborator permission
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  internal/gh/collaborator.go
  internal/gh/gh.go
  internal/gh/gh_test.go
Due: gh

feat(gh): use supported collaborator permission (#2974)
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  internal/gh/collaborator.go
  internal/gh/gh.go
  internal/gh/gh_test.go
Due: gh

feat(apps): gate load results
  area/apps/release
Due: apps

feat(apps): gate load results (#2975)
  area/apps/release
Due: apps

build(ci): reuse dependency cache keys
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): reuse dependency cache keys (#2976)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): bound verify requests
  area/apps/release
Due: apps

feat(apps): bound verify requests (#2977)
  area/apps/release
Due: apps

feat(apps): fail closed on live scoring
  Makefile
  area/apps/kube-score-live
  area/apps/lean.mk
Due: apps

feat(apps): fail closed on live scoring (#2978)
  Makefile
  area/apps/kube-score-live
  area/apps/lean.mk
Due: apps

feat(k8s): wait for add-ons
  area/k8s/Makefile
Due: none

feat(k8s): wait for add-ons (#2979)
  area/k8s/Makefile
Due: none

feat(bump): clarify infrastructure docs and helper usage
  Makefile
  README.md
  area/k8s/Makefile
  cmd/bump/bump.go
  cmd/bump/doc.go
  cmd/format/format.go
  internal/app/version/version.go
Due: apps

feat(bump): clarify infrastructure docs and helper usage (#2980)
  Makefile
  README.md
  area/k8s/Makefile
  cmd/bump/bump.go
  cmd/bump/doc.go
  cmd/format/format.go
  internal/app/version/version.go
Due: apps

release(web): upgraded to v1.448.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.448.0 (#2985)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.881.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.881.0 (#2986)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.883.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.883.0 (#2991)
  area/apps/apps.hjson
Due: apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: internal/gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: internal/cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: internal/do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: internal/app/.*)) or (any of: go.*)
