Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): update versions (#597)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.285.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#598)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.286.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.287.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#600)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.288.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#601)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.289.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
Due: apps

feat(apps): update versions (#602)
  area/apps/lean/bezeichner.go
Due: apps

chore(release): v1.290.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#603)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.291.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#604)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.292.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update konfig to v1.332.1
  area/apps/lean/konfig.go
Due: apps

fix(apps): update konfig to v1.332.1 (#605)
  area/apps/lean/konfig.go
Due: apps

fix(deps): upgraded github.com/pulumi/pulumi-digitalocean/sdk/v4 v4.37.0 => v4.37.1
  go.mod
  go.sum
Due: gh, cf, do, apps

chore(release): v1.292.1 [ci skip]
  CHANGELOG.md
Due: none

fix(deps): upgraded github.com/pulumi/pulumi-digitalocean/sdk/v4 v4.37.0 => v4.37.1 (#607)
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(deps): upgraded golang.org/x/net v0.28.0 => v0.33.0
  go.mod
  go.sum
Due: gh, cf, do, apps

chore(release): v1.292.2 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): upgraded golang.org/x/net v0.28.0 => v0.33.0 (#608)
  go.mod
  go.sum
Due: gh, cf, do, apps

chore(release): v1.293.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): archive idp repositories
  area/gh/idp.go
Due: gh

feat(gh): archive idp repositories (#609)
  area/gh/idp.go
Due: gh

chore(release): v1.294.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): unarchive idp repositories
  area/gh/idp.go
Due: gh

feat(gh): unarchive idp repositories (#610)
  area/gh/idp.go
Due: gh

chore(release): v1.295.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#611)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.296.0 [ci skip]
  CHANGELOG.md
Due: none
