Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

build(ci): use latest published images (#2045)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(gh): remove has_downloads
  internal/gh/repository.go
Due: gh

feat(gh): remove has_downloads (#2046)
  internal/gh/repository.go
Due: gh

chore(release): v2.424.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.425.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2048)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(web): upgraded to v1.266.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.266.0 (#2050)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.699.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.699.0 (#2051)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.709.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.709.0 (#2049)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
  .golangci.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2052)
  .circleci/continue_config.yml
  .golangci.yml
Due: gh, cf, do, apps

build(ci): use circleci/path-filtering@3.0.0
  .circleci/config.yml
Due: gh, cf, do, apps

build(ci): use circleci/path-filtering@3.0.0 (#2053)
  .circleci/config.yml
Due: gh, cf, do, apps

build(ci): move to use a sigle workflow
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): move to use a sigle workflow (#2054)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(gh): check is ci/circleci: wait-all
  area/gh/gh.hjson
Due: gh

feat(gh): check is ci/circleci: wait-all (#2055)
  area/gh/gh.hjson
Due: gh

chore(release): v2.426.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): upgraded github.com/pulumi/pulumi-digitalocean/sdk/v4 v4.60.0 => v4.61.0
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(deps): upgraded github.com/pulumi/pulumi-digitalocean/sdk/v4 v4.60.0 => v4.61.0 (#2056)
  go.mod
  go.sum
Due: gh, cf, do, apps

chore(release): v2.427.0 [ci skip]
  CHANGELOG.md
Due: none

release(standort): upgraded to v2.700.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.700.0 (#2057)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.267.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.267.0 (#2058)
  area/apps/apps.hjson
Due: apps

feat(gh): wait for ci/circleci: sync
  area/gh/gh.hjson
Due: gh

feat(gh): wait for ci/circleci: sync (#2060)
  area/gh/gh.hjson
Due: gh

chore(release): v2.428.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update helm deps
  area/k8s/Makefile
Due: none

feat(k8s): update helm deps (#2061)
  area/k8s/Makefile
Due: none

chore(release): v2.429.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): check ci/circleci: wait-all
  area/gh/gh.hjson
Due: gh

feat(gh): check ci/circleci: wait-all (#2062)
  area/gh/gh.hjson
Due: gh

chore(release): v2.430.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use alexfalkowski/go:2.115
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use alexfalkowski/go:2.115 (#2063)
  .circleci/continue_config.yml
Due: gh, cf, do, apps
