Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(deps): upgraded bezeichner to v1.564.0
  area/apps/apps.pbtxt
Due: apps

feat(deps): upgraded bezeichner to v1.564.0 (#1312)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.268.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): upgraded standort to v2.554.0
  area/apps/apps.pbtxt
Due: apps

feat(bezeichner): upgraded to v1.565.0
  area/apps/apps.pbtxt
Due: apps

feat(standort): upgraded to v2.555.0
  area/apps/apps.pbtxt
Due: apps

feat(web): upgraded to v1.126.0
  area/apps/apps.pbtxt
Due: apps

feat(bezeichner): upgraded to v1.565.0 (#1314)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.269.0 [ci skip]
  CHANGELOG.md
Due: none

feat(web): upgraded to v1.126.0 (#1316)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.270.0 [ci skip]
  CHANGELOG.md
Due: none

feat(standort): upgraded to v2.555.0 (#1315)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.271.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): update alexfalkowski/k8s:1.77
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): update alexfalkowski/k8s:1.77 (#1317)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.272.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): add serial-group for apps
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): add serial-group for apps (#1319)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(bezeichner): upgraded to v1.566.0
  area/apps/apps.pbtxt
Due: apps

feat(web): upgraded to v1.127.0
  area/apps/apps.pbtxt
Due: apps

feat(standort): upgraded to v2.556.0
  area/apps/apps.pbtxt
Due: apps

feat(web): upgraded to v1.127.0 (#1321)
  area/apps/apps.pbtxt
Due: apps

feat(standort): upgraded to v2.556.0 (#1322)
  area/apps/apps.pbtxt
Due: apps

feat(bezeichner): upgraded to v1.566.0 (#1320)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.273.0 [ci skip]
  CHANGELOG.md
Due: none

feat(standort): upgraded to v2.557.0
  area/apps/apps.pbtxt
Due: apps

feat(bezeichner): upgraded to v1.567.0
  area/apps/apps.pbtxt
Due: apps

feat(web): upgraded to v1.128.0
  area/apps/apps.pbtxt
Due: apps

feat(web): upgraded to v1.128.0 (#1325)
  area/apps/apps.pbtxt
Due: apps

feat(bezeichner): upgraded to v1.567.0 (#1324)
  area/apps/apps.pbtxt
Due: apps

feat(standort): upgraded to v2.557.0 (#1323)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.274.0 [ci skip]
  CHANGELOG.md
Due: none

feat(bezeichner): upgraded to v1.568.0
  area/apps/apps.pbtxt
Due: apps

feat(web): upgraded to v1.129.0
  area/apps/apps.pbtxt
Due: apps

feat(standort): upgraded to v2.558.0
  area/apps/apps.pbtxt
Due: apps

feat(standort): upgraded to v2.558.0 (#1328)
  area/apps/apps.pbtxt
Due: apps

feat(bezeichner): upgraded to v1.568.0 (#1326)
  area/apps/apps.pbtxt
Due: apps

feat(web): upgraded to v1.129.0 (#1327)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.275.0 [ci skip]
  CHANGELOG.md
Due: none

feat(bezeichner): upgraded to v1.569.0
  area/apps/apps.pbtxt
Due: apps
