Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, k8s, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            area/do/.* do true
            do/.* do true
            go.* do true

            area/k8s/.* k8s true
            area/apps/.* apps true
          base-revision: origin/master
          resource_class: large

build(ci): remove unused checks (#238)
  area/apps/.kube-linter.yaml
Due: apps

feat(apps): add service acccounts
  area/apps/.kube-linter.yaml
  area/apps/bezeichner/account.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/account.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/account.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): add service acccounts (#239)
  area/apps/.kube-linter.yaml
  area/apps/bezeichner/account.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/account.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/account.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.66.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/bezeichner/config.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/config.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/config.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): update versions (#240)
  area/apps/bezeichner/config.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/config.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/config.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.67.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps):
  area/apps/bezeichner/config.yaml
  area/apps/standort/config.yaml
Due: apps

fix(apps): (#241)
  area/apps/bezeichner/config.yaml
  area/apps/standort/config.yaml
Due: apps

chore(release): v1.67.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add imagePullPolicy: IfNotPresent
  .circleci/continue_config.yml
  area/apps/Makefile
  area/apps/bezeichner/include.mk
  area/apps/bezeichner/service.yaml
  area/apps/konfig/include.mk
  area/apps/konfig/service.yaml
  area/apps/standort/include.mk
  area/apps/standort/service.yaml
Due: apps

feat(apps): add imagePullPolicy: IfNotPresent (#242)
  .circleci/continue_config.yml
  area/apps/Makefile
  area/apps/bezeichner/include.mk
  area/apps/bezeichner/service.yaml
  area/apps/konfig/include.mk
  area/apps/konfig/service.yaml
  area/apps/standort/include.mk
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.68.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): wrong target
  area/apps/standort/include.mk
Due: apps

fix(apps): wrong target (#243)
  area/apps/standort/include.mk
Due: apps

chore(release): v1.68.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add kube-score
  area/apps/.kube-linter.yaml
  area/apps/Makefile
  area/apps/bezeichner/account.yaml
  area/apps/bezeichner/include.mk
  area/apps/bezeichner/policy.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/account.yaml
  area/apps/konfig/include.mk
  area/apps/konfig/policy.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/account.yaml
  area/apps/standort/include.mk
  area/apps/standort/policy.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): add kube-score (#244)
  area/apps/.kube-linter.yaml
  area/apps/Makefile
  area/apps/bezeichner/account.yaml
  area/apps/bezeichner/include.mk
  area/apps/bezeichner/policy.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/account.yaml
  area/apps/konfig/include.mk
  area/apps/konfig/policy.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/account.yaml
  area/apps/standort/include.mk
  area/apps/standort/policy.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.69.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add ephemeral-storage
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): add ephemeral-storage (#245)
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.70.0 [ci skip]
  CHANGELOG.md
Due: none

build(apps):
  .circleci/continue_config.yml
  area/apps/Makefile
Due: apps

build(apps): (#246)
  .circleci/continue_config.yml
  area/apps/Makefile
Due: apps

feat(apps): add NetworkPolicy
  README.md
  area/apps/.kube-linter.yaml
  area/apps/Makefile
  area/apps/bezeichner/network.yaml
  area/apps/konfig/network.yaml
  area/apps/standort/network.yaml
Due: apps

feat(apps): add NetworkPolicy (#247)
  README.md
  area/apps/.kube-linter.yaml
  area/apps/Makefile
  area/apps/bezeichner/network.yaml
  area/apps/konfig/network.yaml
  area/apps/standort/network.yaml
Due: apps

chore(release): v1.71.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): allow all network-policy
  area/apps/bezeichner/network.yaml
  area/apps/konfig/network.yaml
  area/apps/standort/network.yaml
Due: apps

fix(apps): allow all network-policy (#248)
  area/apps/bezeichner/network.yaml
  area/apps/konfig/network.yaml
  area/apps/standort/network.yaml
Due: apps

chore(release): v1.71.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#249)
  area/apps/bezeichner/config.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/config.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/config.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.72.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#250)
  area/apps/bezeichner/config.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/config.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/config.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.73.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): add cdevents
  area/gh/client.go
  area/gh/main.go
  area/gh/service.go
Due: gh

feat(gh): add cdevents (#251)
  area/gh/client.go
  area/gh/main.go
  area/gh/service.go
Due: gh

chore(release): v1.74.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): updated versions
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/config.yaml
  area/apps/standort/service.yaml
  area/gh/client.go
  area/gh/service.go
Due: gh, apps
