Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

release(web): upgraded to v1.228.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.228.0 (#1814)
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1815)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(web): upgraded to v1.229.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.229.0 (#1817)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.667.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.667.0 (#1818)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.661.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.661.0 (#1819)
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images (#1822)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.381.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1823)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.669.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.669.0 (#1825)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.230.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.230.0 (#1826)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.662.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.662.0 (#1827)
  area/apps/apps.pbtxt
Due: apps

feat(do): update to 1.34.1-do.2
  internal/do/do.go
Due: do

feat(do): update to 1.34.1-do.2 (#1828)
  internal/do/do.go
Due: do

chore(release): v2.382.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): upgraded google.golang.org/grpc v1.77.0 => v1.78.0
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(deps): upgraded google.golang.org/grpc v1.77.0 => v1.78.0 (#1829)
  go.mod
  go.sum
Due: gh, cf, do, apps

chore(release): v2.383.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1830)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.384.0 [ci skip]
  CHANGELOG.md
Due: none

release(standort): upgraded to v2.663.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.663.0 (#1832)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.231.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.231.0 (#1833)
  area/apps/apps.pbtxt
Due: apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: internal/gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: internal/cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: internal/do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: internal/app/.*)) or (any of: go.*)
