Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): configure deployment replica counts
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/apps.hjson
  internal/app/app.go
  internal/app/app_test.go
  internal/app/deployment.go
  internal/app/test/apps.hjson
  internal/app/version/version_test.go
  internal/test/apps.hjson
Due: apps

feat(apps): configure deployment replica counts (#3146)
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/apps.hjson
  internal/app/app.go
  internal/app/app_test.go
  internal/app/deployment.go
  internal/app/test/apps.hjson
  internal/app/version/version_test.go
  internal/test/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.915.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.915.0 (#3148)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.915.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.914.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.915.0 (#3150)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.478.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.478.0 (#3149)
  area/apps/apps.hjson
Due: apps

feat(apps): add replicas: 3
  area/apps/apps.hjson
Due: apps

feat(apps): add replicas: 3 (#3151)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#3152)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): move fields
  .circleci/continue_config.yml
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  internal/app/app.go
  internal/app/port.go
  internal/cf/balancer.go
  internal/cf/bucket.go
  internal/cf/cf.go
  internal/cf/page.go
  internal/do/do.go
  internal/gh/gh.go
Due: gh, cf, do, apps

feat(apps): move fields (#3153)
  .circleci/continue_config.yml
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  internal/app/app.go
  internal/app/port.go
  internal/cf/balancer.go
  internal/cf/bucket.go
  internal/cf/cf.go
  internal/cf/page.go
  internal/do/do.go
  internal/gh/gh.go
Due: gh, cf, do, apps

build(ci): reenable make api-breaking
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): reenable make api-breaking (#3154)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

docs(agents): document sibling repo layout and release automation for cross-repo diagnosis
  AGENTS.md
Due: none

docs(agents): document sibling repo layout and release automation for cross-repo diagnosis (#3157)
  AGENTS.md
Due: none

release(web): upgraded to v1.479.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.479.0 (#3161)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.916.0
  area/apps/apps.hjson
Due: apps
