Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

feat(deps): upgraded golang.org/x/net v0.48.0 => v0.49.0
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(deps): upgraded golang.org/x/net v0.48.0 => v0.49.0 (#1855)
  go.mod
  go.sum
Due: gh, cf, do, apps

chore(release): v2.387.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1856)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(k8s): update better-stack to v0.1.29
  area/k8s/Makefile
Due: none

feat(k8s): update better-stack to v0.1.29 (#1857)
  area/k8s/Makefile
Due: none

chore(release): v2.388.0 [ci skip]
  CHANGELOG.md
Due: none

fix(k8s): forgot better-stack namespace in delete
  area/k8s/Makefile
Due: none

fix(k8s): forgot better-stack namespace in delete (#1858)
  area/k8s/Makefile
Due: none

chore(release): v2.388.1 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1860)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(web): upgraded to v1.236.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.673.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.667.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.673.0 (#1862)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.667.0 (#1864)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.236.0 (#1865)
  area/apps/apps.pbtxt
Due: apps

feat(config): move to yaml
  .circleci/continue_config.yml
  README.md
  area/apps/apps.pbtxt
  area/apps/apps.yaml
  area/apps/main.go
  area/apps/main_test.go
  area/cf/cf.pbtxt
  area/cf/cf.yaml
  area/cf/main.go
  area/cf/main_test.go
  area/do/do.pbtxt
  area/do/do.yaml
  area/do/main.go
  area/do/main_test.go
  area/gh/gh.pbtxt
  area/gh/gh.yaml
  area/gh/main.go
  area/gh/main_test.go
  go.mod
  go.sum
  internal/app/test/apps.pbtxt
  internal/app/test/apps.yaml
  internal/app/version/version_test.go
  internal/config/config.go
Due: gh, cf, do, apps

feat(config): move to yaml (#1866)
  .circleci/continue_config.yml
  README.md
  area/apps/apps.pbtxt
  area/apps/apps.yaml
  area/apps/main.go
  area/apps/main_test.go
  area/cf/cf.pbtxt
  area/cf/cf.yaml
  area/cf/main.go
  area/cf/main_test.go
  area/do/do.pbtxt
  area/do/do.yaml
  area/do/main.go
  area/do/main_test.go
  area/gh/gh.pbtxt
  area/gh/gh.yaml
  area/gh/main.go
  area/gh/main_test.go
  go.mod
  go.sum
  internal/app/test/apps.pbtxt
  internal/app/test/apps.yaml
  internal/app/version/version_test.go
  internal/config/config.go
Due: gh, cf, do, apps

chore(release): v2.389.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1867)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.674.0
  area/apps/apps.yaml
Due: apps

release(bezeichner): upgraded to v1.674.0 (#1868)
  area/apps/apps.yaml
Due: apps

release(web): upgraded to v1.237.0
  area/apps/apps.yaml
Due: apps

release(web): upgraded to v1.237.0 (#1869)
  area/apps/apps.yaml
Due: apps

release(standort): upgraded to v2.668.0
  area/apps/apps.yaml
Due: apps

release(standort): upgraded to v2.668.0 (#1870)
  area/apps/apps.yaml
Due: apps

feat(cmd): allow default to path
  cmd/bump/bump.go
  cmd/format/format.go
Due: none

feat(cmd): allow default to path (#1871)
  cmd/bump/bump.go
  cmd/format/format.go
Due: none

chore(release): v2.390.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1872)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(config): move to use hjson
  .circleci/continue_config.yml
  README.md
  area/apps/apps.hjson
  area/apps/main.go
  area/apps/main_test.go
  area/cf/cf.hjson
  area/cf/cf.yaml
  area/cf/main.go
  area/cf/main_test.go
  area/do/do.hjson
  area/do/do.yaml
  area/do/main.go
  area/do/main_test.go
  area/gh/gh.hjson
  area/gh/gh.yaml
  area/gh/main.go
  area/gh/main_test.go
  assets/..png
  cmd/bump/bump.go
  cmd/format/format.go
  go.mod
  go.sum
  internal/app/test/apps.hjson
  internal/app/test/apps.yaml
  internal/app/version/version_test.go
  internal/config/config.go
Due: gh, cf, do, apps

feat(config): move to use hjson (#1873)
  .circleci/continue_config.yml
  README.md
  area/apps/apps.hjson
  area/apps/main.go
  area/apps/main_test.go
  area/cf/cf.hjson
  area/cf/cf.yaml
  area/cf/main.go
  area/cf/main_test.go
  area/do/do.hjson
  area/do/do.yaml
  area/do/main.go
  area/do/main_test.go
  area/gh/gh.hjson
  area/gh/gh.yaml
  area/gh/main.go
  area/gh/main_test.go
  assets/..png
  cmd/bump/bump.go
  cmd/format/format.go
  go.mod
  go.sum
  internal/app/test/apps.hjson
  internal/app/test/apps.yaml
  internal/app/version/version_test.go
  internal/config/config.go
Due: gh, cf, do, apps

chore(release): v2.391.0 [ci skip]
  CHANGELOG.md
Due: none

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: internal/gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: internal/cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: internal/do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: internal/app/.*)) or (any of: go.*)
