Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): upgrade versions that updated service deps
  area/apps/apps.go
Due: apps

feat(apps): upgrade versions that updated service deps (#299)
  area/apps/apps.go
Due: apps

chore(release): v1.98.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): upgrade versions
  area/apps/apps.go
Due: apps

feat(apps): upgrade versions (#300)
  area/apps/apps.go
Due: apps

chore(release): v1.99.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.99.1 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.99.2 [ci skip]
  CHANGELOG.md
Due: none

feat(do): add firewall to load balanacer
  area/do/Makefile
  area/do/lb/firewall
Due: do

feat(k8s): only allow cloudflare ips
  area/k8s/nginx/values.yaml
Due: none

feat(k8s): only allow cloudflare ips (#304)
  area/k8s/nginx/values.yaml
Due: none

chore(release): v1.100.0 [ci skip]
  CHANGELOG.md
Due: none

fix(deps): upgrade to go 1.22.4
  go.mod
Due: gh, cf, do, apps

fix(deps): upgrade to go 1.22.4 (#305)
  go.mod
Due: gh, cf, do, apps

chore(release): v1.100.1 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): upgrade to go 1.22.4
  area/apps/apps.go
Due: apps

feat(apps): upgrade to go 1.22.4
  area/apps/apps.go
Due: apps

feat(apps): upgrade to go 1.22.4 (#307)
  area/apps/apps.go
Due: apps

chore(release): v1.101.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.101.1 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.101.2 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.101.3 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): upgrade apps to use new token structure
  area/apps/apps.go
  area/apps/init.yaml
  area/apps/konfig.yaml
Due: apps

feat(apps): upgrade apps to use new token structure (#312)
  area/apps/apps.go
  area/apps/init.yaml
  area/apps/konfig.yaml
Due: apps

chore(release): v1.102.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): use v2.106.0
  area/apps/apps.go
Due: apps

fix(apps): use v2.106.0 (#313)
  area/apps/apps.go
Due: apps

chore(release): v1.102.1 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.102.2 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.102.3 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.102.4 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): archive auth
  area/gh/service.go
  gh/gh.go
Due: gh

feat(gh): archive auth (#317)
  area/gh/service.go
  gh/gh.go
Due: gh

chore(release): v1.103.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/apps.go
Due: apps

feat(apps): update versions (#318)
  area/apps/apps.go
Due: apps

chore(release): v1.104.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): verification of new api
  area/apps/bezeichner.mk
  area/apps/standort.mk
Due: apps

fix(apps): verification of new api (#319)
  area/apps/bezeichner.mk
  area/apps/standort.mk
Due: apps

chore(release): v1.104.1 [ci skip]
  CHANGELOG.md
Due: none
