Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): update versions
  area/apps/apps.pbtxt
Due: apps

feat(apps): update versions (#888)
  area/apps/apps.pbtxt
Due: apps

chore(release): v1.500.0 [ci skip]
  CHANGELOG.md
Due: none

refactor(config): use colon in pbtxt
  area/apps/apps.pbtxt
  area/gh/gh.pbtxt
Due: gh, apps

refactor(config): use colon in pbtxt (#889)
  area/apps/apps.pbtxt
  area/gh/gh.pbtxt
Due: gh, apps

feat(cf): move to use a configuration language
  api/infraops/v1/service.pb.go
  api/infraops/v1/service.proto
  area/cf/cf.pbtxt
  area/cf/main.go
  area/cf/main_test.go
  assets/..png
  internal/cf/balancer.go
  internal/cf/cf.go
  internal/cf/page.go
Due: cf

feat(cf): move to use a configuration language (#890)
  api/infraops/v1/service.pb.go
  api/infraops/v1/service.proto
  area/cf/cf.pbtxt
  area/cf/main.go
  area/cf/main_test.go
  assets/..png
  internal/cf/balancer.go
  internal/cf/cf.go
  internal/cf/page.go
Due: cf

chore(release): v1.501.0 [ci skip]
  CHANGELOG.md
Due: none

feat(do): move to use a configuration language
  .circleci/continue_config.yml
  api/infraops/v1/service.pb.go
  api/infraops/v1/service.proto
  area/do/do.pbtxt
  area/do/main.go
  area/do/main_test.go
  internal/app/app.go
  internal/cf/cf.go
  internal/do/do.go
  internal/gh/gh.go
Due: gh, cf, do, apps

feat(do): move to use a configuration language (#891)
  .circleci/continue_config.yml
  api/infraops/v1/service.pb.go
  api/infraops/v1/service.proto
  area/do/do.pbtxt
  area/do/main.go
  area/do/main_test.go
  internal/app/app.go
  internal/cf/cf.go
  internal/do/do.go
  internal/gh/gh.go
Due: gh, cf, do, apps

build(ci): reenable api-breaking
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v1.502.0 [ci skip]
  CHANGELOG.md
Due: none

docs(readme): add configuration
  README.md
  assets/..png
Due: none

build(ci): reenable api-breaking (#892)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

docs(readme): add configuration (#893)
  README.md
  assets/..png
Due: none

feat(apps): update versions (#894)
  area/apps/apps.pbtxt
Due: apps

chore(release): v1.503.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#895)
  area/apps/apps.pbtxt
Due: apps

chore(release): v1.504.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#896)
  area/apps/apps.pbtxt
Due: apps

chore(release): v1.505.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#897)
  area/apps/apps.pbtxt
Due: apps

chore(release): v1.506.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#898)
  area/apps/apps.pbtxt
Due: apps

chore(release): v1.507.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): update alexfalkowski/k8s:1.33
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): update alexfalkowski/k8s:1.33 (#899)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v1.508.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.509.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  .circleci/continue_config.yml
  .golangci.yml
  area/apps/apps.pbtxt
Due: gh, cf, do, apps

feat(apps): update versions (#903)
  .circleci/continue_config.yml
  .golangci.yml
  area/apps/apps.pbtxt
Due: gh, cf, do, apps

chore(release): v1.510.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): add help
  Makefile
Due: none

build(ci): add help (#904)
  Makefile
Due: none

feat(k8s): update nginx to v4.12.1
  area/k8s/Makefile
Due: none
