Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

release(standort): upgraded to v2.771.0 (#2466)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2467)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(do): update to 1.35.1-do.6
  internal/do/do.go
Due: do

feat(do): update to 1.35.1-do.6 (#2469)
  internal/do/do.go
Due: do

build(ci): use latest published images (#2471)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2473)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(web): upgraded to v1.347.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.347.0 (#2474)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.348.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.348.0 (#2475)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.772.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.772.0 (#2476)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.780.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.780.0 (#2477)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.781.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.781.0 (#2480)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.349.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.349.0 (#2482)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.350.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.350.0 (#2483)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.782.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.773.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.782.0 (#2484)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.774.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.774.0 (#2485)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.351.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.351.0 (#2486)
  area/apps/apps.hjson
Due: apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: internal/gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: internal/cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: internal/do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: internal/app/.*)) or (any of: go.*)
