Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): add common errors (#1123)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.126.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use alexfalkowski/k8s:1.51
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use alexfalkowski/k8s:1.51 (#1124)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): update purego
  area/apps/apps.pbtxt
Due: apps

feat(apps): update purego (#1125)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.127.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use buffer for encoding
  area/apps/apps.pbtxt
Due: apps

feat(apps): use buffer for encoding (#1126)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.128.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): ignore response for erroneous status codes
  area/apps/apps.pbtxt
Due: apps

feat(apps): ignore response for erroneous status codes (#1127)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.129.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): build a smarter cache
  area/apps/apps.pbtxt
Due: apps

feat(apps): build a better cache
  area/apps/apps.pbtxt
Due: apps

feat(apps): build a better cache (#1129)
  area/apps/apps.pbtxt
Due: apps

build(ci): remove serial group
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.130.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): remove serial group (#1130)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): lower cache to 15 mins for sasha
  area/apps/apps.pbtxt
Due: apps

feat(apps): lower cache to 15 mins for sasha (#1131)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.131.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update grpc
  area/apps/apps.pbtxt
Due: apps

feat(apps): update grpc (#1132)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.132.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use io interfaces
  area/apps/apps.pbtxt
Due: apps

feat(apps): use io interfaces (#1133)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.133.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): convert bytes to string without copy
  area/apps/apps.pbtxt
Due: apps

feat(apps): convert bytes to string without copy (#1134)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.134.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): convert []byte without copy
  area/apps/apps.pbtxt
Due: apps

feat(apps): convert []byte without copy (#1135)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.135.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use strings.Bytes for base64
  area/apps/apps.pbtxt
Due: apps

feat(apps): use strings.Bytes for base64 (#1136)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.136.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.137.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add online health
  area/apps/apps.pbtxt
Due: apps

feat(apps): add online health (#1139)
  area/apps/apps.pbtxt
Due: apps
