Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

fix(apps): add ingress to all apps
  internal/app/network.go
  internal/app/service.go
Due: none

fix(apps): add ingress to all apps (#961)
  internal/app/network.go
  internal/app/service.go
Due: none

chore(release): v2.11.1 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): need different probes
  internal/app/service.go
Due: none

fix(apps): need different probes (#962)
  internal/app/service.go
Due: none

chore(release): v2.11.2 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update monitoror to 1.1
  README.md
  area/apps/apps.pbtxt
  assets/..png
Due: apps

feat(apps): update monitoror to 1.1 (#963)
  README.md
  area/apps/apps.pbtxt
  assets/..png
Due: apps

chore(release): v2.12.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update monitoror to 1.2
  area/apps/apps.pbtxt
Due: apps

feat(apps): update monitoror to 1.2 (#964)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.13.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update konfig to v1.531.0
  area/apps/apps.pbtxt
Due: apps

feat(apps): update konfig to v1.531.0 (#965)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.14.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update konfig to v1.531.1
  area/apps/apps.pbtxt
Due: apps

fix(apps): update konfig to v1.531.1 (#966)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.14.1 [ci skip]
  CHANGELOG.md
Due: none

build(ci): reenable api-breaking
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): reenable api-breaking (#967)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): use grpc full method name
  area/apps/apps.pbtxt
  area/apps/lean.mk
Due: apps

feat(apps): use grpc full method name (#968)
  area/apps/apps.pbtxt
  area/apps/lean.mk
Due: apps

chore(release): v2.15.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): remove '
  area/apps/lean.mk
Due: apps

fix(apps): remove ' (#969)
  area/apps/lean.mk
Due: apps

build(ci): use alexfalkowski/k8s:1.38
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.15.1 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use alexfalkowski/k8s:1.38 (#970)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): add is external for better redability
  internal/app/app.go
  internal/app/config.go
  internal/app/metadata.go
  internal/app/service.go
Due: none

feat(apps): add is external for better redability (#971)
  internal/app/app.go
  internal/app/config.go
  internal/app/metadata.go
  internal/app/service.go
Due: none

chore(release): v2.16.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps):
  area/apps/apps.pbtxt
  internal/app/service.go
Due: apps

feat(apps): add service id
  area/apps/apps.pbtxt
  internal/app/service.go
Due: apps

feat(apps): add service id (#973)
  area/apps/apps.pbtxt
  internal/app/service.go
Due: apps

chore(release): v2.17.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add ability to load env vars for external
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/apps.pbtxt
  internal/app/app.go
  internal/app/service.go
Due: apps

feat(apps): add ability to load env vars
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/apps.pbtxt
  internal/app/app.go
  internal/app/service.go
Due: apps

feat(apps): add ability to load env vars (#975)
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/apps.pbtxt
  internal/app/app.go
  internal/app/service.go
Due: apps

chore(release): v2.18.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update monitoror to 1.3
  area/apps/apps.pbtxt
Due: apps
