Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

release(standort): upgraded to v2.718.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.718.0 (#2170)
  area/apps/apps.hjson
Due: apps

feat(apps): use the right cluster name
  area/apps/Makefile
Due: apps

feat(apps): use the right cluster name (#2173)
  area/apps/Makefile
Due: apps

release(bezeichner): upgraded to v1.726.1
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.726.1 (#2174)
  area/apps/apps.hjson
Due: apps

feat(do): update cluster to 1.34.5-do.1
  internal/do/do.go
Due: do

feat(do): update cluster to 1.34.5-do.1 (#2175)
  internal/do/do.go
Due: do

release(bezeichner): upgraded to v1.727.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.727.0 (#2176)
  area/apps/apps.hjson
Due: apps

feat(do): update cluster to 1.35.1-do.1
  internal/do/do.go
Due: do

feat(do): update cluster to 1.35.1-do.1 (#2177)
  internal/do/do.go
Due: do

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2178)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.728.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.719.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.719.0 (#2180)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.289.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.289.0 (#2181)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images (#2182)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2183)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2184)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.729.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.729.0 (#2186)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.290.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.290.0 (#2188)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images (#2190)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(standort): upgraded to v2.720.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.720.0 (#2187)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images (#2193)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.730.0
  area/apps/apps.hjson
Due: apps
