Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

chore(release): v1.85.2 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  app/config.go
  area/apps/apps.go
  area/apps/init.yaml
  area/apps/konfig.yaml
Due: apps

feat(apps): update versions (#284)
  app/config.go
  area/apps/apps.go
  area/apps/init.yaml
  area/apps/konfig.yaml
Due: apps

chore(release): v1.86.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/apps.go
Due: apps

feat(apps): update versions (#285)
  area/apps/apps.go
Due: apps

chore(release): v1.87.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): make sure we set user agent with a correct version
  area/apps/apps.go
Due: apps

feat(apps): make sure we set user agent with a correct version (#286)
  area/apps/apps.go
Due: apps

chore(release): v1.88.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.88.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): upgrade versions to handle stopping telemetry
  area/apps/apps.go
Due: apps

feat(apps): upgrade versions to handle stopping telemetry (#288)
  area/apps/apps.go
Due: apps

chore(release): v1.89.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update a dep in https://github.com/alexfalkowski/go-service/pull/794
  area/apps/apps.go
Due: apps

feat(apps): update a dep in https://github.com/alexfalkowski/go-service/pull/794 (#289)
  area/apps/apps.go
Due: apps

chore(release): v1.90.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add domain
  app/app.go
  app/network.go
  area/apps/apps.go
  area/cf/main.go
  cf/cf.go
  cf/cf_test.go
Due: cf, apps

feat(apps): add domain (#290)
  app/app.go
  app/network.go
  area/apps/apps.go
  area/cf/main.go
  cf/cf.go
  cf/cf_test.go
Due: cf, apps

chore(release): v1.91.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add recommended labels
  app/config.go
  app/metadata.go
  app/network.go
  app/policy.go
  app/service.go
Due: apps

feat(apps): add recommended labels (#291)
  app/config.go
  app/metadata.go
  app/network.go
  app/policy.go
  app/service.go
Due: apps

chore(release): v1.92.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): set externalTrafficPolicy
  app/service.go
Due: apps

feat(deps): upgrade new cluster
  README.md
  area/apps/Makefile
  area/cf/main.go
  area/k8s/Makefile
  do/do.go
Due: cf, do, apps

feat(deps): upgrade new cluster (#293)
  README.md
  area/apps/Makefile
  area/cf/main.go
  area/k8s/Makefile
  do/do.go
Due: cf, do, apps

chore(release): v1.93.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): upgrade versions to handle ip headers
  area/apps/apps.go
Due: apps

feat(apps): upgrade versions to handle ip headers (#294)
  area/apps/apps.go
Due: apps

chore(release): v1.94.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): upgrade versions to see how ip headers are handled
  area/apps/apps.go
Due: apps

feat(apps): upgrade versions to see how ip headers are handled (#295)
  area/apps/apps.go
Due: apps

chore(release): v1.95.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): pass values to nginx
  area/k8s/Makefile
  area/k8s/nginx/values.yaml
Due: none

feat(k8s): pass values to nginx (#296)
  area/k8s/Makefile
  area/k8s/nginx/values.yaml
Due: none

chore(release): v1.96.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update grafana/agent:v0.41.0
  area/k8s/Makefile
  area/k8s/grafana/cluster.yaml
Due: none

feat(k8s): update grafana/agent:v0.41.0 (#297)
  area/k8s/Makefile
  area/k8s/grafana/cluster.yaml
Due: none

chore(release): v1.97.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.97.1 [ci skip]
  CHANGELOG.md
Due: none
