Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): use new rest client
  area/apps/apps.pbtxt
Due: apps

feat(apps): use new rest client (#1072)
  area/apps/apps.pbtxt
Due: apps

feat(apps): default to opts content type for rest
  area/apps/apps.pbtxt
Due: apps

feat(apps): default to opts content type for rest (#1073)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.95.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.96.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): default to empty articles when missing for sasha
  area/apps/apps.pbtxt
  area/apps/lean/init.yaml
  area/apps/lean/konfig.yaml
  area/apps/lean/sasha.yaml
Due: apps

feat(apps): default to empty articles when missing for sasha (#1074)
  area/apps/apps.pbtxt
  area/apps/lean/init.yaml
  area/apps/lean/konfig.yaml
  area/apps/lean/sasha.yaml
Due: apps

chore(release): v2.97.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): change address for sasha
  area/apps/lean/sasha.yaml
Due: apps

feat(apps): change address for sasha (#1075)
  area/apps/lean/sasha.yaml
Due: apps

chore(release): v2.98.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): only enable runtime module for servers
  README.md
  area/apps/apps.pbtxt
Due: apps

feat(apps): only enable runtime module for servers (#1076)
  README.md
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.99.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): celebrate v1.0.0 of mvc
  area/apps/apps.pbtxt
Due: apps

feat(apps): celebrate v1.0.0 of mvc (#1077)
  area/apps/apps.pbtxt
Due: apps

feat(apps): use clean path
  area/apps/apps.pbtxt
Due: apps

feat(apps): use clean path (#1078)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.100.0 [ci skip]
  CHANGELOG.md
Due: none

feat(ci): set env variables to see if we fix running on ci
  .circleci/continue_config.yml
  internal/app/image.go
Due: gh, cf, do, apps

feat(ci): set env variables to see if we fix running on ci (#1080)
  .circleci/continue_config.yml
  internal/app/image.go
Due: gh, cf, do, apps

chore(release): v2.101.0 [ci skip]
  CHANGELOG.md
Due: none

feat(ci): set GOGC=30 for cf
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(ci): set GOGC=30 for cf (#1081)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.102.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.103.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update deps
  area/apps/apps.pbtxt
Due: apps

feat(apps): update deps (#1082)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.104.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add html media type in mime
  area/apps/apps.pbtxt
Due: apps

feat(apps): add html media type in mime (#1083)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.105.0 [ci skip]
  CHANGELOG.md
Due: none

feat(ci):
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use alexfalkowski/k8s:1.46
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use alexfalkowski/k8s:1.46 (#1085)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): use join
  area/apps/apps.pbtxt
Due: apps

feat(apps): use join (#1086)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.106.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use alexfalkowski/go:2.16
  .circleci/continue_config.yml
Due: gh, cf, do, apps
