Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

release(bezeichner): upgraded to v1.647.0 (#1711)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.639.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.639.0 (#1712)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.209.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.209.0 (#1713)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.360.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1715)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.648.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.648.0 (#1716)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.640.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.640.0 (#1717)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.210.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.210.0 (#1718)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.361.0 [ci skip]
  CHANGELOG.md
Due: none

release(standort): upgraded to v2.641.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.641.0 (#1720)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.649.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.649.0 (#1721)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.211.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.211.0 (#1722)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.642.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.642.0 (#1723)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.650.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.650.0 (#1724)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.643.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.643.0 (#1725)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.212.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.212.0 (#1726)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.644.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.644.0 (#1727)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.651.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.651.0 (#1728)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.213.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.213.0 (#1729)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.362.0 [ci skip]
  CHANGELOG.md
Due: none

feat(do): use 1.33.1-do.6
  internal/do/do.go
Due: do

feat(do): use 1.33.1-do.6 (#1731)
  internal/do/do.go
Due: do

chore(release): v2.363.0 [ci skip]
  CHANGELOG.md
Due: none

feat(do): use 1.33.6-do.0
  internal/do/do.go
Due: do
