Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

release(standort): upgraded to v2.905.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.905.0 (#3100)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.908.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.908.0 (#3101)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.906.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.906.0 (#3102)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.471.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.471.0 (#3103)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#3104)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(deps): update bin to adopt the shared claude permissions baseline
  .claude/settings.json
Due: none

build(deps): update bin to adopt the shared claude permissions baseline (#3105)
  .claude/settings.json
Due: none

build(deps): wire shared codex permissions
  .codex/config.toml
  .codex/rules/bin.rules
Due: none

build(deps): wire shared codex permissions (#3106)
  .codex/config.toml
  .codex/rules/bin.rules
Due: none

release(bezeichner): upgraded to v1.909.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.909.0 (#3111)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.472.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.472.0 (#3112)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.907.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.907.0 (#3113)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.910.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.910.0 (#3116)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.908.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.908.0 (#3118)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.473.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.473.0 (#3117)
  area/apps/apps.hjson
Due: apps
