Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

release(bezeichner): upgraded to v1.619.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.619.0 (#1586)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.611.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.611.0 (#1587)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.620.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.620.0 (#1588)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.182.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.182.0 (#1589)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.621.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.621.0 (#1590)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.612.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.612.0 (#1591)
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1592)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.622.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.622.0 (#1593)
  area/apps/apps.pbtxt
Due: apps

feat(do): update to 1.33.1-do.4
  internal/do/do.go
Due: do

feat(do): update to 1.33.1-do.4 (#1594)
  internal/do/do.go
Due: do

chore(release): v2.336.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1595)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.337.0 [ci skip]
  CHANGELOG.md
Due: none

release(standort): upgraded to v2.613.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.613.0 (#1597)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.183.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.183.0 (#1598)
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images (#1599)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.338.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.339.0 [ci skip]
  CHANGELOG.md
Due: none

release(standort): upgraded to v2.614.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.614.0 (#1603)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.623.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.623.0 (#1604)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.184.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.184.0 (#1605)
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images (#1607)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.340.0 [ci skip]
  CHANGELOG.md
Due: none

release(standort): upgraded to v2.615.0
  area/apps/apps.pbtxt
Due: apps
