Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

chore(release): v1.383.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.384.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#742)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.385.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): update images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): update images (#743)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): upgrade versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): upgrade versions (#744)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.386.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#745)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.387.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update golang:1.23.6
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update golang:1.23.6 (#746)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.388.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#747)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.389.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#748)
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.390.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update protobuf
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
Due: apps

feat(apps): update protobuf (#749)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
Due: apps

chore(release): v1.391.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update protobuf
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update protobuf (#750)
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.392.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#751)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.393.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#752)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.394.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): update alexfalkowski/go:1.10
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): update alexfalkowski/go:1.10 (#754)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): update versions (#755)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.395.0 [ci skip]
  CHANGELOG.md
Due: none

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: app/.*)) or (any of: go.*)
