Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

feat(apps): update versions (#482)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.198.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update web to 0.56.0
  area/apps/lean/web.go
Due: apps

feat(apps): update web to 0.56.0 (#483)
  area/apps/lean/web.go
Due: apps

chore(release): v1.199.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#484)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.200.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#487)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.201.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): add metrics server
  area/k8s/Makefile
Due: none

feat(k8s): add metrics server (#488)
  area/k8s/Makefile
Due: none

chore(release): v1.202.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

fix(apps): update versions (#489)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.202.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#490)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.203.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.204.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.205.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.206.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use different caches
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use different caches (#494)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(do):
  do/do.go
Due: do

feat(do): update cluster to 1.31.1-do.0
  do/do.go
Due: do

feat(do): update cluster to 1.31.1-do.0 (#496)
  do/do.go
Due: do

chore(release): v1.207.0 [ci skip]
  CHANGELOG.md
Due: none

fix(do): update cluster to 1.30.5-do.0
  do/do.go
Due: do

fix(do): update cluster to 1.30.5-do.0 (#497)
  do/do.go
Due: do

chore(release): v1.207.1 [ci skip]
  CHANGELOG.md
Due: none

feat(do): update cluster to 1.31.1-do.0 (#498)
  do/do.go
Due: do

chore(release): v1.208.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.209.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.210.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.211.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.212.0 [ci skip]
  CHANGELOG.md
Due: none

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: app/.*)) or (any of: go.*)
