Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

release(web): upgraded to v1.277.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.277.0 (#2123)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.279.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.279.0 (#2124)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.717.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.717.0 (#2125)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.708.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.708.0 (#2126)
  area/apps/apps.hjson
Due: apps

feat(ci): use release-version.txt
  .circleci/continue_config.yml
  .goreleaser.yml
  CHANGELOG.md
Due: gh, cf, do, apps

feat(ci): use release-version.txt (#2127)
  .circleci/continue_config.yml
  .goreleaser.yml
  CHANGELOG.md
Due: gh, cf, do, apps

feat(ci): context: gh
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(ci): context: gh (#2128)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(ci): skip build
  .circleci/continue_config.yml
  .goreleaser.yml
Due: gh, cf, do, apps

feat(ci): skip build (#2129)
  .circleci/continue_config.yml
  .goreleaser.yml
Due: gh, cf, do, apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2130)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

docs(readme): add a referral badge
  README.md
Due: none

docs(readme): add a referral badge (#2131)
  README.md
Due: none

release(bezeichner): upgraded to v1.718.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.718.0 (#2132)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.709.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.709.0 (#2133)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.280.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.280.0 (#2134)
  area/apps/apps.hjson
Due: apps

feat(apps): add extra probe attributes
  internal/app/probe.go
Due: apps

feat(apps): add extra probe attributes (#2136)
  internal/app/probe.go
Due: apps

build(ci): use latest published images (#2137)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2138)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(web): upgraded to v1.281.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.281.0 (#2140)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.710.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.710.0 (#2141)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.719.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.719.0 (#2139)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.282.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.282.0 (#2146)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.720.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.720.0 (#2148)
  area/apps/apps.hjson
Due: apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: internal/gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: internal/cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: internal/do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: internal/app/.*)) or (any of: go.*)
