Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

chore(release): v1.110.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  .circleci/continue_config.yml
  README.md
  app/app.go
  area/apps/Makefile
  area/apps/bezeichner.go
  area/apps/bezeichner.mk
  area/apps/konfig.go
  area/apps/konfig.yaml
  area/apps/standort.go
  area/apps/standort.mk
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(apps): update versions (#336)
  .circleci/continue_config.yml
  README.md
  app/app.go
  area/apps/Makefile
  area/apps/bezeichner.go
  area/apps/bezeichner.mk
  area/apps/konfig.go
  area/apps/konfig.yaml
  area/apps/standort.go
  area/apps/standort.mk
  go.mod
  go.sum
Due: gh, cf, do, apps

docs(readme): update diagrams
  assets/..png
Due: none

docs(readme): update diagrams (#337)
  assets/..png
Due: none

chore(release): v1.111.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.111.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

feat(apps): update versions (#339)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

chore(release): v1.112.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#340)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

chore(release): v1.113.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

fix(apps): update versions (#341)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

chore(release): v1.113.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#343)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

chore(release): v1.114.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#344)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

fix(go): update go to v1.22.5
  go.mod
Due: gh, cf, do, apps

fix(go): update go to v1.22.5 (#345)
  go.mod
Due: gh, cf, do, apps

chore(release): v1.115.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#346)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

chore(release): v1.116.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#347)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

chore(release): v1.117.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#348)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

chore(release): v1.118.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#349)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

chore(release): v1.119.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#350)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
Due: apps

chore(release): v1.120.0 [ci skip]
  CHANGELOG.md
Due: none
