Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#650)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.318.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#651)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.319.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#652)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.320.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#653)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.321.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

fix(apps): update versions (#654)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.321.1 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): remove archived
  area/gh/gh.go
  area/gh/idp.go
  area/gh/service.go
Due: gh

feat(gh): remove archived (#655)
  area/gh/gh.go
  area/gh/idp.go
  area/gh/service.go
Due: gh

Revert "feat(gh): remove archived (#655)"
  area/gh/gh.go
  area/gh/idp.go
  area/gh/service.go
Due: gh

chore(release): v1.322.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): we can't delete archived repos (#656)
  area/gh/gh.go
  area/gh/idp.go
  area/gh/service.go
Due: gh

feat(gh): unarchive so we can delete
  area/gh/idp.go
  area/gh/service.go
Due: gh

chore(release): v1.323.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): unarchive so we can delete (#657)
  area/gh/idp.go
  area/gh/service.go
Due: gh

chore(release): v1.324.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): remove archived (#658)
  area/gh/gh.go
  area/gh/idp.go
  area/gh/service.go
Due: gh

chore(release): v1.325.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#659)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.326.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#660)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.327.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#661)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.328.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): update go:1.5
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): update go:1.5 (#662)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): update web to v0.125.0
  area/apps/lean/web.go
Due: apps

feat(apps): update web to v0.125.0 (#663)
  area/apps/lean/web.go
Due: apps
