Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(cf): add sasha-adventures zone (#524)
  area/cf/main.go
  cf/cf.go
Due: cf

chore(release): v1.230.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): updated versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): updated versions (#525)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.231.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#526)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.232.0 [ci skip]
  CHANGELOG.md
Due: none

fix(deps): upgraded pulumi sdks
  go.mod
  go.sum
Due: gh, cf, do, apps

fix(deps): upgraded pulumi sdks (#527)
  go.mod
  go.sum
Due: gh, cf, do, apps

chore(release): v1.232.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update konfig to v1.290.0
  area/apps/lean/konfig.go
Due: apps

feat(apps): update konfig to v1.290.0 (#528)
  area/apps/lean/konfig.go
Due: apps

chore(release): v1.233.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.234.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.235.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

fix(apps): update versions (#531)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.235.1 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): wrong verstion for konfig
  area/apps/lean/konfig.go
Due: apps

fix(apps): wrong verstion for konfig (#532)
  area/apps/lean/konfig.go
Due: apps

chore(release): v1.235.2 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.236.0 [ci skip]
  CHANGELOG.md
Due: none

feat(cf): add afalkowski
  area/cf/main.go
  cf/cf.go
Due: cf

feat(cf): add afalkowski (#534)
  area/cf/main.go
  cf/cf.go
Due: cf

chore(release): v1.237.0 [ci skip]
  CHANGELOG.md
Due: none

feat(cf): add page zones
  area/cf/main.go
  cf/balancer.go
  cf/cf.go
  cf/cf_test.go
  cf/page.go
Due: cf

feat(cf): add page zones (#535)
  area/cf/main.go
  cf/balancer.go
  cf/cf.go
  cf/cf_test.go
  cf/page.go
Due: cf

chore(release): v1.238.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.239.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.240.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.241.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
  go.mod
Due: gh, cf, do, apps

feat(apps): update versions (#540)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
  go.mod
Due: gh, cf, do, apps

fix(apps): web should be v0.74.0
  area/apps/lean/web.go
Due: apps

fix(apps): web should be v0.74.0 (#541)
  area/apps/lean/web.go
Due: apps

chore(release): v1.242.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#542)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.243.0 [ci skip]
  CHANGELOG.md
Due: none
