Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

fix(apps): use standort v2.260.0 (#708)
  area/apps/lean/standort.go
Due: apps

chore(release): v1.357.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps):
  area/apps/lean/standort.go
Due: apps

chore(release): v1.358.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update standort to v2.262.0
  area/apps/lean/standort.go
Due: apps

feat(apps): update standort to v2.262.0 (#711)
  area/apps/lean/standort.go
Due: apps

chore(release): v1.359.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#712)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.360.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update standort to v2.265.0
  area/apps/lean/standort.go
Due: apps

feat(apps): update standort to v2.265.0 (#713)
  area/apps/lean/standort.go
Due: apps

chore(release): v1.361.0 [ci skip]
  CHANGELOG.md
Due: none

feat(runtime): use recover to handle multiple err checks
  .golangci.yml
  app/app_test.go
  app/mocks.go
  area/apps/main_test.go
  area/gh/main_test.go
  assets/..png
  cf/balancer.go
  cf/cf_test.go
  cf/mocks.go
  do/do.go
  do/do_test.go
  do/mocks.go
  gh/gh.go
  gh/gh_test.go
  gh/mocks.go
  runtime/runtime.go
  test/mocks.go
Due: gh, cf, do, apps

feat(runtime): use recover to handle multiple err checks (#714)
  .golangci.yml
  app/app_test.go
  app/mocks.go
  area/apps/main_test.go
  area/gh/main_test.go
  assets/..png
  cf/balancer.go
  cf/cf_test.go
  cf/mocks.go
  do/do.go
  do/do_test.go
  do/mocks.go
  gh/gh.go
  gh/gh_test.go
  gh/mocks.go
  runtime/runtime.go
  test/mocks.go
Due: gh, cf, do, apps

chore(release): v1.362.0 [ci skip]
  CHANGELOG.md
Due: none

feat(cf): use recover to handle multiple err checks
  cf/page.go
  test/mocks.go
Due: cf

feat(cf): use recover to handle multiple err checks (#715)
  cf/page.go
  test/mocks.go
Due: cf

chore(release): v1.363.0 [ci skip]
  CHANGELOG.md
Due: none

feat(test): rename to stub
  app/app_test.go
  area/apps/main_test.go
  area/gh/main_test.go
  cf/cf_test.go
  do/do_test.go
  gh/gh_test.go
  test/mocks.go
  test/stub.go
Due: gh, cf, do, apps

feat(test): rename to stub (#716)
  app/app_test.go
  area/apps/main_test.go
  area/gh/main_test.go
  cf/cf_test.go
  do/do_test.go
  gh/gh_test.go
  test/mocks.go
  test/stub.go
Due: gh, cf, do, apps

chore(release): v1.364.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

fix(apps): update versions (#717)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.364.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update konfig to v1.376.0
  area/apps/lean/konfig.go
Due: apps

feat(apps): update konfig to v1.376.0 (#718)
  area/apps/lean/konfig.go
Due: apps

chore(release): v1.365.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#719)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.366.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update konfig to v1.378.0
  area/apps/lean/konfig.go
Due: apps

feat(apps): update konfig to v1.378.0 (#720)
  area/apps/lean/konfig.go
Due: apps

chore(release): v1.367.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update konfig to v1.380.0
  area/apps/lean/konfig.go
Due: apps

feat(apps): update konfig to v1.380.0 (#721)
  area/apps/lean/konfig.go
Due: apps

chore(release): v1.368.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.go
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#722)
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.go
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.369.0 [ci skip]
  CHANGELOG.md
Due: none

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: app/.*)) or (any of: go.*)
