Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

release(bezeichner): upgraded to v1.694.0 (#1961)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.685.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.685.0 (#1962)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.252.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.252.0 (#1963)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1957)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): try arm.large
  .circleci/continue_config.yml
  .golangci.yml
Due: gh, cf, do, apps

chore(release): v2.407.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1967)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): renable steps to use arm.large
  .circleci/continue_config.yml
  .golangci.yml
Due: gh, cf, do, apps

build(ci): renable steps to use arm.large (#1968)
  .circleci/continue_config.yml
  .golangci.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1969)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(do): update to 1.34.1-do.3
  internal/do/do.go
Due: do

feat(do): update to 1.34.1-do.3 (#1970)
  internal/do/do.go
Due: do

chore(release): v2.408.0 [ci skip]
  CHANGELOG.md
Due: none

release(bezeichner): upgraded to v1.695.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.695.0 (#1971)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.686.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.686.0 (#1972)
  area/apps/apps.hjson
Due: apps

feat(docs): update to reflect important information
  AGENTS.md
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/main.go
  area/cf/main.go
  area/do/main.go
  area/gh/main.go
  cmd/bump/bump.go
  cmd/format/format.go
  internal/app/app.go
  internal/app/doc.go
  internal/app/version/version.go
  internal/cf/balancer.go
  internal/cf/bucket.go
  internal/cf/cf.go
  internal/cf/doc.go
  internal/cf/page.go
  internal/config/config.go
  internal/config/doc.go
  internal/do/do.go
  internal/do/doc.go
  internal/gh/collaborator.go
  internal/gh/doc.go
  internal/gh/gh.go
  internal/gh/protection.go
  internal/gh/repository.go
  internal/inputs/doc.go
  internal/inputs/inputs.go
  internal/log/doc.go
  internal/log/log.go
  internal/test/doc.go
  internal/test/stub.go
Due: gh, cf, do, apps

feat(docs): update to reflect important information (#1973)
  AGENTS.md
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/main.go
  area/cf/main.go
  area/do/main.go
  area/gh/main.go
  cmd/bump/bump.go
  cmd/format/format.go
  internal/app/app.go
  internal/app/doc.go
  internal/app/version/version.go
  internal/cf/balancer.go
  internal/cf/bucket.go
  internal/cf/cf.go
  internal/cf/doc.go
  internal/cf/page.go
  internal/config/config.go
  internal/config/doc.go
  internal/do/do.go
  internal/do/doc.go
  internal/gh/collaborator.go
  internal/gh/doc.go
  internal/gh/gh.go
  internal/gh/protection.go
  internal/gh/repository.go
  internal/inputs/doc.go
  internal/inputs/inputs.go
  internal/log/doc.go
  internal/log/log.go
  internal/test/doc.go
  internal/test/stub.go
Due: gh, cf, do, apps

chore(release): v2.409.0 [ci skip]
  CHANGELOG.md
Due: none

release(web): upgraded to v1.253.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.253.0 (#1974)
  area/apps/apps.hjson
Due: apps

chore(release): v2.410.0 [ci skip]
  CHANGELOG.md
Due: none

release(standort): upgraded to v2.687.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.687.0 (#1976)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.696.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.696.0 (#1977)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.254.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.254.0 (#1978)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images (#1979)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.697.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.697.0 (#1980)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images (#1981)
  .circleci/continue_config.yml
Due: gh, cf, do, apps
