Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

release(bezeichner): upgraded to v1.865.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.865.0 (#2889)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.863.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.863.0 (#2890)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.435.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.435.0 (#2891)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2892)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use lightweight aggregate job
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use lightweight aggregate job (#2895)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

docs(agents): centralize shared repository guidance
  AGENTS.md
Due: none

docs(agents): centralize shared repository guidance (#2896)
  AGENTS.md
Due: none

docs(agents): prefer make command surface
  AGENTS.md
Due: none

docs(agents): prefer make command surface (#2897)
  AGENTS.md
Due: none

build(ci): reuse pipeline setup
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): reuse pipeline setup (#2898)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2901)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(git): align generated file ignores
  .gitignore
Due: none

build(git): align generated file ignores (#2904)
  .gitignore
Due: none
