Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

feat(apps): update versions (#852)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.473.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  .circleci/continue_config.yml
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: gh, cf, do, apps

feat(apps): update versions (#853)
  .circleci/continue_config.yml
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: gh, cf, do, apps

chore(release): v1.474.0 [ci skip]
  CHANGELOG.md
Due: none

feat(do): update k8s to v1.32.2
  internal/do/do.go
Due: none

feat(do): update k8s to v1.32.2 (#854)
  internal/do/do.go
Due: none

chore(release): v1.475.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): seperate each repository in a file to be registered
  area/gh/bezeichner.go
  area/gh/bin.go
  area/gh/client.go
  area/gh/config.go
  area/gh/docker.go
  area/gh/gh.go
  area/gh/health.go
  area/gh/infraops.go
  area/gh/konfig.go
  area/gh/lib.go
  area/gh/main.go
  area/gh/main_test.go
  area/gh/migrieren.go
  area/gh/nonnative.go
  area/gh/other.go
  area/gh/register.go
  area/gh/site.go
  area/gh/standort.go
  area/gh/status.go
  area/gh/template.go
  area/gh/web.go
Due: gh

feat(gh): seperate each repository in a file to be registered (#855)
  area/gh/bezeichner.go
  area/gh/bin.go
  area/gh/client.go
  area/gh/config.go
  area/gh/docker.go
  area/gh/gh.go
  area/gh/health.go
  area/gh/infraops.go
  area/gh/konfig.go
  area/gh/lib.go
  area/gh/main.go
  area/gh/main_test.go
  area/gh/migrieren.go
  area/gh/nonnative.go
  area/gh/other.go
  area/gh/register.go
  area/gh/site.go
  area/gh/standort.go
  area/gh/status.go
  area/gh/template.go
  area/gh/web.go
Due: gh

chore(release): v1.476.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use register model as in gh
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/lean/lean.go
  area/apps/main.go
  area/apps/main_test.go
  area/apps/standort.go
  area/apps/web.go
  internal/app/app.go
  internal/pulumi/pulumi.go
Due: apps

feat(apps): use register model as in gh (#856)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/lean/lean.go
  area/apps/main.go
  area/apps/main_test.go
  area/apps/standort.go
  area/apps/web.go
  internal/app/app.go
  internal/pulumi/pulumi.go
Due: apps

chore(release): v1.477.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
  area/apps/web.go
Due: apps

feat(apps): update versions (#857)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
  area/apps/web.go
Due: apps

chore(release): v1.478.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.479.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#859)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
  area/apps/web.go
Due: apps

chore(release): v1.480.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): update alexfalkowski/k8s:1.27
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): update alexfalkowski/k8s:1.27 (#860)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v1.481.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.482.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  .circleci/continue_config.yml
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
  area/apps/web.go
Due: gh, cf, do, apps

feat(apps): update versions (#863)
  .circleci/continue_config.yml
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
  area/apps/web.go
Due: gh, cf, do, apps

chore(release): v1.483.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.484.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.485.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#866)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
  area/apps/web.go
Due: apps

chore(release): v1.486.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#867)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
  area/apps/web.go
Due: apps

chore(release): v1.487.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.488.0 [ci skip]
  CHANGELOG.md
Due: none

build(deps): add newline
  go.mod
Due: gh, cf, do, apps

build(deps): add newline (#869)
  go.mod
Due: gh, cf, do, apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: app/.*)) or (any of: go.*)
