Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): update versions
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
  area/apps/web.go
Due: apps

feat(apps): update versions (#871)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
  area/apps/web.go
Due: apps

chore(release): v1.489.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#872)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
  area/apps/web.go
Due: apps

chore(release): v1.490.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#873)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
  area/apps/web.go
Due: apps

chore(release): v1.491.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use alexfalkowski/k8s:1.31
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use alexfalkowski/k8s:1.31 (#874)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(protobuf): move to use a configuration language
  .circleci/continue_config.yml
  .gocov
  api/Makefile
  api/buf.gen.yaml
  api/buf.yaml
  api/infraops/v1/service.pb.go
  api/infraops/v1/service.proto
  area/apps/apps.txtpb
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/main.go
  area/apps/main_test.go
  area/apps/standort.go
  area/apps/web.go
  go.mod
  internal/app/app.go
  internal/app/app_test.go
  internal/config/config.go
Due: gh, cf, do, apps

chore(release): v1.492.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.493.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): move to use a configuration language
  .circleci/continue_config.yml
  .gocov
  api/Makefile
  api/buf.gen.yaml
  api/buf.yaml
  api/infraops/v1/service.pb.go
  api/infraops/v1/service.proto
  area/apps/apps.pbtxt
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/main.go
  area/apps/main_test.go
  area/apps/standort.go
  area/apps/web.go
  area/gh/main_test.go
  go.mod
  internal/app/app.go
  internal/app/app_test.go
  internal/cf/cf_test.go
  internal/config/config.go
  internal/do/do_test.go
  internal/gh/gh_test.go
  internal/test/stub.go
Due: gh, cf, do, apps

feat(apps): move to use a configuration language (#878)
  .circleci/continue_config.yml
  .gocov
  api/Makefile
  api/buf.gen.yaml
  api/buf.yaml
  api/infraops/v1/service.pb.go
  api/infraops/v1/service.proto
  area/apps/apps.pbtxt
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/main.go
  area/apps/main_test.go
  area/apps/standort.go
  area/apps/web.go
  area/gh/main_test.go
  go.mod
  internal/app/app.go
  internal/app/app_test.go
  internal/cf/cf_test.go
  internal/config/config.go
  internal/do/do_test.go
  internal/gh/gh_test.go
  internal/test/stub.go
Due: gh, cf, do, apps

chore(release): v1.494.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): add check of breaking changes
  .circleci/continue_config.yml
  Makefile
  assets/..png
Due: gh, cf, do, apps

build(ci): add check of breaking changes (#879)
  .circleci/continue_config.yml
  Makefile
  assets/..png
Due: gh, cf, do, apps

feat(gh): move to use a configuration language
  .circleci/continue_config.yml
  .golangci.yml
  Makefile
  api/infraops/v1/service.pb.go
  api/infraops/v1/service.proto
  area/apps/apps.pbtxt
  area/apps/main.go
  area/apps/main_test.go
  area/gh/bezeichner.go
  area/gh/bin.go
  area/gh/config.go
  area/gh/docker.go
  area/gh/gh.pbtxt
  area/gh/health.go
  area/gh/infraops.go
  area/gh/konfig.go
  area/gh/main.go
  area/gh/main_test.go
  area/gh/migrieren.go
  area/gh/nonnative.go
  area/gh/register.go
  area/gh/service.go
  area/gh/site.go
  area/gh/standort.go
  area/gh/status.go
  area/gh/template.go
  area/gh/web.go
  assets/..png
  go.mod
  go.sum
  internal/app/app.go
  internal/app/app_test.go
  internal/gh/gh.go
Due: gh, cf, do, apps

feat(gh): move to use a configuration language (#880)
  .circleci/continue_config.yml
  .golangci.yml
  Makefile
  api/infraops/v1/service.pb.go
  api/infraops/v1/service.proto
  area/apps/apps.pbtxt
  area/apps/main.go
  area/apps/main_test.go
  area/gh/bezeichner.go
  area/gh/bin.go
  area/gh/config.go
  area/gh/docker.go
  area/gh/gh.pbtxt
  area/gh/health.go
  area/gh/infraops.go
  area/gh/konfig.go
  area/gh/main.go
  area/gh/main_test.go
  area/gh/migrieren.go
  area/gh/nonnative.go
  area/gh/register.go
  area/gh/service.go
  area/gh/site.go
  area/gh/standort.go
  area/gh/status.go
  area/gh/template.go
  area/gh/web.go
  assets/..png
  go.mod
  go.sum
  internal/app/app.go
  internal/app/app_test.go
  internal/gh/gh.go
Due: gh, cf, do, apps

chore(release): v1.495.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/apps.pbtxt
Due: apps

feat(apps): update versions (#881)
  area/apps/apps.pbtxt
Due: apps

chore(release): v1.496.0 [ci skip]
  CHANGELOG.md
Due: none

build(lint): ignore nakedret
  .golangci.yml
  internal/cf/balancer.go
  internal/cf/page.go
  internal/gh/gh.go
Due: none

build(lint): ignore nakedret (#882)
  .golangci.yml
  internal/cf/balancer.go
  internal/cf/page.go
  internal/gh/gh.go
Due: none

feat(apps): update versions (#883)
  area/apps/apps.pbtxt
Due: apps

chore(release): v1.497.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#884)
  area/apps/apps.pbtxt
Due: apps

chore(release): v1.498.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/apps.pbtxt
  area/gh/gh.pbtxt
Due: gh, apps

feat(apps): update versions (#885)
  area/apps/apps.pbtxt
  area/gh/gh.pbtxt
Due: gh, apps

chore(release): v1.499.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update bezeichner to v1.375.1
  area/apps/apps.pbtxt
Due: apps

fix(apps): update bezeichner to v1.375.1 (#886)
  area/apps/apps.pbtxt
Due: apps

chore(release): v1.499.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps):
  area/apps/apps.pbtxt
Due: apps
