Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(cf): move sasha-adventures to balancer_zones
  area/cf/cf.pbtxt
Due: cf

feat(cf): move sasha-adventures to balancer_zones (#1023)
  area/cf/cf.pbtxt
Due: cf

chore(release): v2.57.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): add sasha repos
  area/gh/gh.pbtxt
Due: gh

feat(gh): add sasha repos (#1024)
  area/gh/gh.pbtxt
Due: gh

chore(release): v2.58.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): add enable_collaborators as two step process
  .circleci/continue_config.yml
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/gh/gh.pbtxt
  internal/gh/collaborator.go
  internal/gh/gh.go
Due: gh, cf, do, apps

feat(gh): add enable_collaborators as two step process (#1025)
  .circleci/continue_config.yml
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/gh/gh.pbtxt
  internal/gh/collaborator.go
  internal/gh/gh.go
Due: gh, cf, do, apps

build(ci): enable api-breaking
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.59.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): enable api-breaking (#1026)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(gh): enable_pages for the sasha repos
  area/gh/gh.pbtxt
Due: gh

feat(gh): enable_pages for the sasha repos (#1027)
  area/gh/gh.pbtxt
Due: gh

chore(release): v2.60.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update htmx for web
  area/apps/apps.pbtxt
Due: apps

feat(apps): update htmx for web (#1028)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.61.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add sasha site
  area/apps/apps.pbtxt
Due: apps

feat(apps): add sasha site (#1029)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.62.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): remove home for web
  area/apps/apps.pbtxt
Due: apps

feat(apps): remove home for web (#1030)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.63.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use browser history for web
  area/apps/apps.pbtxt
Due: apps

feat(apps): use browser history for web (#1031)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.64.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add articles for sasha
  area/apps/apps.pbtxt
Due: apps

feat(apps): add articles for sasha (#1032)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.65.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add ability to route images
  area/apps/apps.pbtxt
Due: apps

feat(apps): add ability to route images (#1033)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.66.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): rename context to meta
  area/apps/apps.pbtxt
Due: apps

feat(apps): rename context to meta (#1034)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.67.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): remove dup in mvc
  area/apps/apps.pbtxt
Due: apps

feat(apps): remove dup in mvc (#1035)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.68.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add layouts for mvc
  area/apps/apps.pbtxt
Due: apps

feat(apps): add layouts for mvc (#1037)
  area/apps/apps.pbtxt
Due: apps
