Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): update web to v0.7.0 (#365)
  area/apps/web.go
Due: apps

chore(release): v1.133.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update web to v0.8.0
  area/apps/web.go
Due: apps

feat(apps): update web to v0.8.0 (#366)
  area/apps/web.go
Due: apps

chore(release): v1.134.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update web to v0.9.0
  area/apps/web.go
Due: apps

feat(apps): update web to v0.9.0 (#367)
  area/apps/web.go
Due: apps

chore(release): v1.135.0 [ci skip]
  CHANGELOG.md
Due: none

fix(gh):
  area/gh/client.go
  area/gh/lib.go
  area/gh/other.go
  area/gh/service.go
  errors/errors.go
  gh/gh.go
  gh/gh_test.go
Due: gh

fix(gh): make sure we have checks
  .circleci/continue_config.yml
  area/gh/client.go
  area/gh/lib.go
  area/gh/other.go
  area/gh/service.go
  errors/errors.go
  gh/gh.go
  gh/gh_test.go
Due: gh, cf, do, apps

fix(gh): make sure we have checks (#371)
  .circleci/continue_config.yml
  area/gh/client.go
  area/gh/lib.go
  area/gh/other.go
  area/gh/service.go
  errors/errors.go
  gh/gh.go
  gh/gh_test.go
Due: gh, cf, do, apps

chore(release): v1.135.1 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.135.2 [ci skip]
  CHANGELOG.md
Due: none

docs(diagrams): generate
  assets/..png
Due: none

docs(diagrams): generate (#372)
  assets/..png
Due: none

chore(release): v1.135.3 [ci skip]
  CHANGELOG.md
Due: none

fix(gh): simplify condition
  README.md
  area/gh/client.go
  area/gh/lib.go
  area/gh/other.go
  area/gh/service.go
  gh/gh.go
Due: gh

fix(gh): simplify condition (#373)
  README.md
  area/gh/client.go
  area/gh/lib.go
  area/gh/other.go
  area/gh/service.go
  gh/gh.go
Due: gh

docs(diagrams): generate (#374)
  assets/..png
Due: none

chore(release): v1.135.4 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update web to v0.11.0
  area/apps/web.go
Due: apps

feat(apps): update web to v0.11.0 (#375)
  area/apps/web.go
Due: apps

chore(release): v1.136.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update konfig to v1.203.0
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
  area/apps/web.go
Due: apps

feat(apps): update konfig to v1.203.0 (#376)
  area/apps/bezeichner.go
  area/apps/konfig.go
  area/apps/standort.go
  area/apps/web.go
Due: apps

chore(release): v1.137.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update web to v0.12.0
  area/apps/web.go
Due: apps

feat(apps): update web to v0.12.0 (#377)
  area/apps/web.go
Due: apps

chore(release): v1.138.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update web to v0.13.0
  area/apps/web.go
Due: apps

feat(apps): update web to v0.13.0 (#378)
  area/apps/web.go
Due: apps

chore(release): v1.139.0 [ci skip]
  CHANGELOG.md
Due: none

feat(do): update to k8s to 1.30.2-do.0
  do/do.go
Due: do

feat(do): update to k8s to 1.30.2-do.0 (#379)
  do/do.go
Due: do

chore(release): v1.140.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update web to v0.14.0
  area/apps/web.go
Due: apps

feat(apps): update web to v0.14.0 (#380)
  area/apps/web.go
Due: apps

chore(release): v1.141.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update web to v0.15.0
  area/apps/web.go
Due: apps
