Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): update bezeichner to v1.268.0
  area/apps/lean/bezeichner.go
Due: apps

feat(apps): update bezeichner to v1.268.0 (#694)
  area/apps/lean/bezeichner.go
Due: apps

chore(release): v1.349.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update config versions
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update config versions (#695)
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.350.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

fix(apps): update versions (#696)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.350.1 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update init version to 0.110.2
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

fix(apps): update init version to 0.110.2 (#698)
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.350.2 [ci skip]
  CHANGELOG.md
Due: none

build(ci): update alexfalkowski/k8s:1.10
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): update alexfalkowski/k8s:1.10 (#699)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v1.351.0 [ci skip]
  CHANGELOG.md
Due: none

fix(deps): upgrade konfig to v1.366.2
  area/apps/lean/konfig.go
Due: apps

fix(deps): upgrade konfig to v1.366.2 (#700)
  area/apps/lean/konfig.go
Due: apps

chore(release): v1.351.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update konfig to v1.371.0
  area/apps/lean/konfig.go
Due: apps

feat(apps): update konfig to v1.371.0 (#701)
  area/apps/lean/konfig.go
Due: apps

chore(release): v1.352.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
Due: apps

feat(apps): update versions (#702)
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
Due: apps

chore(release): v1.353.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update konfig to v1.372.0
  area/apps/lean/konfig.go
Due: apps

feat(apps): update konfig to v1.372.0 (#703)
  area/apps/lean/konfig.go
Due: apps

chore(release): v1.354.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update web to v0.141.0
  area/apps/lean/web.go
Due: apps

feat(apps): update web to v0.141.0 (#704)
  area/apps/lean/web.go
Due: apps

chore(release): v1.355.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update init to v0.111.0
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update init to v0.111.0 (#705)
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.356.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions (#706)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.356.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update apps
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update apps (#707)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.357.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): use standort v2.260.0
  area/apps/lean/standort.go
Due: apps
