Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

docs(diagrams): update with make
  assets/..png
Due: none

docs(diagrams): update with make (#836)
  assets/..png
Due: none

chore(release): v1.463.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): update alexfalkowski/k8s:1.23
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): update alexfalkowski/k8s:1.23 (#837)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v1.464.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#839)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.465.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#840)
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.466.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): use v1.352.0 for bezeichner
  area/apps/lean/bezeichner.go
Due: apps

fix(apps): use v1.352.0 for bezeichner (#841)
  area/apps/lean/bezeichner.go
Due: apps

chore(release): v1.466.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#842)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.467.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#843)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.468.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#844)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.469.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use serial-group
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use serial-group (#845)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): make sure serial-group is unique
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): make sure serial-group is unique (#846)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use the name of the job as it only runs on master
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use the name of the job as it only runs on master (#847)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): update versions (#848)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.470.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  .circleci/continue_config.yml
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: gh, cf, do, apps

feat(apps): update versions (#849)
  .circleci/continue_config.yml
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: gh, cf, do, apps

chore(release): v1.471.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#850)
  .circleci/continue_config.yml
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: gh, cf, do, apps

chore(release): v1.472.0 [ci skip]
  CHANGELOG.md
Due: none
