Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

build(ci): use pulumi in k8s:1.0
  .circleci/continue_config.yml
  .github/dependabot.yml
  Makefile
  assets/..png
Due: gh, cf, do, apps

chore(release): v1.177.4 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use pulumi in k8s:1.0 (#445)
  .circleci/continue_config.yml
  .github/dependabot.yml
  Makefile
  assets/..png
Due: gh, cf, do, apps

feat(cf): remove deprecation
  cf/cf.go
Due: cf

feat(cf): remove deprecation (#446)
  cf/cf.go
Due: cf

chore(release): v1.178.0 [ci skip]
  CHANGELOG.md
Due: none

build(codecov): upload to codecov
  .circleci/continue_config.yml
  go.mod
Due: gh, cf, do, apps

build(codecov): upload to codecov (#447)
  .circleci/continue_config.yml
  go.mod
Due: gh, cf, do, apps

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
  gh/gh.go
  go.mod
Due: gh, cf, do, apps

feat(apps): update versions (#450)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
  gh/gh.go
  go.mod
Due: gh, cf, do, apps

chore(release): v1.179.0 [ci skip]
  CHANGELOG.md
Due: none

Revert "fix(deps): bump github.com/pulumi/pulumi-kubernetes/sdk/v4 from 4.16.…"
  go.mod
  go.sum
Due: gh, cf, do, apps

Revert "fix(deps): bump github.com/pulumi/pulumi-kubernetes/sdk/v4 from 4.16.0 to 4.17.0" (#451)
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(apps): update konfig to v1.238.0
  area/apps/lean/konfig.go
Due: apps

feat(apps): update konfig to v1.238.0 (#455)
  area/apps/lean/konfig.go
Due: apps

chore(release): v1.180.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps):
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): (#456)
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.181.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#457)
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.182.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.183.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.184.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#459)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.185.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.186.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.187.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#462)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.188.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.189.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  .golangci.yml
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#465)
  .golangci.yml
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.190.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#467)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.191.0 [ci skip]
  CHANGELOG.md
Due: none

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: app/.*)) or (any of: go.*)
