Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

release(web): upgraded to v1.316.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.316.0 (#2312)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.755.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.755.0 (#2313)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.317.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.317.0 (#2314)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.756.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.756.0 (#2315)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.747.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.747.0 (#2316)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2317)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(web): upgraded to v1.318.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.318.0 (#2319)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.748.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.748.0 (#2321)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.757.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.757.0 (#2320)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images (#2324)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(do): use 1.35.1-do.3
  internal/do/do.go
Due: do

feat(do): use 1.35.1-do.3 (#2325)
  internal/do/do.go
Due: do

build(deps): upgraded github.com/alexfalkowski/bin
  AGENTS.md
Due: none

build(deps): upgraded github.com/alexfalkowski/bin (#2328)
  AGENTS.md
Due: none

docs(readme): clarify infra workflow assumptions
  AGENTS.md
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/k8s/Makefile
  cmd/bump/bump.go
  internal/app/network.go
  internal/gh/protection.go
Due: gh, apps

docs(readme): clarify infra workflow assumptions (#2329)
  AGENTS.md
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/k8s/Makefile
  cmd/bump/bump.go
  internal/app/network.go
  internal/gh/protection.go
Due: gh, apps

build(ci): use latest published images (#2330)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2331)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(web): upgraded to v1.319.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.319.0 (#2333)
  area/apps/apps.hjson
Due: apps
