Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, k8s, apps

fix(apps): lower cpu (#224)
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.56.1 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): revert back to good state
  area/apps/.kube-linter.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

fix(apps): revert back to good state (#225)
  area/apps/.kube-linter.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.56.2 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): increase node count to 2
  do/do.go
Due: do

feat(k8s): increase node count to 2 (#226)
  do/do.go
Due: do

chore(release): v1.57.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): increase node count to 3
  area/apps/.kube-linter.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): increase node count to 3 (#227)
  area/apps/.kube-linter.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.58.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): make sure we disable run-as-non-root
  area/apps/.kube-linter.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): make sure we enable run-as-non-root
  area/apps/.kube-linter.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): make sure we enable run-as-non-root (#229)
  area/apps/.kube-linter.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.59.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): use tmp
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

fix(apps): use tmp (#230)
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.59.1 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): use emptyDir
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

fix(apps): use emptyDir (#231)
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.59.2 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use readOnlyRootFilesystem
  area/apps/.kube-linter.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): use readOnlyRootFilesystem (#232)
  area/apps/.kube-linter.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.60.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): set resources for initContainers
  area/apps/.kube-linter.yaml
  area/apps/bezeichner/service.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): set resources for initContainers (#233)
  area/apps/.kube-linter.yaml
  area/apps/bezeichner/service.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.61.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add strategy
  area/apps/.kube-linter.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): add strategy (#234)
  area/apps/.kube-linter.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.62.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): mount secrets to path
  area/apps/.kube-linter.yaml
  area/apps/bezeichner/config.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/config.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/config.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): mount secrets to path (#235)
  area/apps/.kube-linter.yaml
  area/apps/bezeichner/config.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/config.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/config.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.63.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update deps
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): update deps (#236)
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.64.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/.kube-linter.yaml
  area/apps/Makefile
  area/apps/bezeichner/config.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/config.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): update versions (#237)
  area/apps/.kube-linter.yaml
  area/apps/Makefile
  area/apps/bezeichner/config.yaml
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/config.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.65.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): remove unused checks
  area/apps/.kube-linter.yaml
Due: apps

Path conditions:
  gh: ((any of: area/gh/.*) or (any of: gh/.*)) or (any of: go.*)
  cf: ((any of: area/cf/.*) or (any of: cf/.*)) or (any of: go.*)
  do: ((any of: area/do/.*) or (any of: do/.*)) or (any of: go.*)
  k8s: any of: area/k8s/.*
  apps: any of: area/apps/.*
