Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2289)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2293)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2295)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(standort): upgraded to v2.743.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.743.0 (#2287)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.314.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.314.0 (#2300)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.744.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.744.0 (#2301)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.753.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.753.0 (#2299)
  area/apps/apps.hjson
Due: apps

build(ci): wait for preview jobs before running sync
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): wait for preview jobs before running sync (#2302)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(standort): upgraded to v2.745.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.745.0 (#2303)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.315.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.315.0 (#2304)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.754.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.754.0 (#2305)
  area/apps/apps.hjson
Due: apps

feat(gh): remove deprecations
  internal/gh/repository.go
Due: gh

feat(gh): remove deprecations (#2308)
  internal/gh/repository.go
Due: gh

feat(gh): remove from state
  area/gh/gh.hjson
Due: gh

feat(gh): remove from state (#2309)
  area/gh/gh.hjson
Due: gh

build(ci): use latest published images (#2310)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(standort): upgraded to v2.746.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.746.0 (#2311)
  area/apps/apps.hjson
Due: apps
