Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

chore(release): v2.138.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use a virtual file system
  area/apps/apps.pbtxt
Due: apps

feat(apps): use a virtual file system (#1140)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.139.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): add datadog
  area/k8s/Makefile
  area/k8s/datadog/agent.yaml
Due: none

feat(k8s): add datadog (#1141)
  area/k8s/Makefile
  area/k8s/datadog/agent.yaml
Due: none

chore(release): v2.140.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): configure datadog
  area/apps/apps.pbtxt
  area/apps/lean.mk
  area/apps/lean/bezeichner.yaml
  area/apps/lean/sasha.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
Due: apps

feat(apps): configure datadog (#1142)
  area/apps/apps.pbtxt
  area/apps/lean.mk
  area/apps/lean/bezeichner.yaml
  area/apps/lean/sasha.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
Due: apps

chore(release): v2.141.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): delete grafana and datadog
  area/apps/apps.pbtxt
  area/apps/lean.mk
  area/apps/lean/bezeichner.yaml
  area/apps/lean/sasha.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
  area/k8s/Makefile
  area/k8s/datadog/agent.yaml
  area/k8s/grafana/cluster.yaml
  area/k8s/grafana/kube.yaml
  area/k8s/grafana/logs.yaml
  area/k8s/grafana/metrics.yaml
  internal/app/app_test.go
Due: apps

feat(apps): delete grafana and datadog (#1143)
  area/apps/apps.pbtxt
  area/apps/lean.mk
  area/apps/lean/bezeichner.yaml
  area/apps/lean/sasha.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
  area/k8s/Makefile
  area/k8s/datadog/agent.yaml
  area/k8s/grafana/cluster.yaml
  area/k8s/grafana/kube.yaml
  area/k8s/grafana/logs.yaml
  area/k8s/grafana/metrics.yaml
  internal/app/app_test.go
Due: apps

feat(apps): remove recover for standort
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.142.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): remove recover for standort (#1144)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.143.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): add tracer
  area/apps/lean/bezeichner.yaml
  area/apps/lean/sasha.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
Due: apps

fix(apps): add tracer (#1145)
  area/apps/lean/bezeichner.yaml
  area/apps/lean/sasha.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
Due: apps

chore(release): v2.143.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update pgx
  area/apps/apps.pbtxt
  area/apps/lean/bezeichner.yaml
  area/apps/lean/sasha.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
Due: apps

feat(apps): update pgx (#1146)
  area/apps/apps.pbtxt
  area/apps/lean/bezeichner.yaml
  area/apps/lean/sasha.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
Due: apps

chore(release): v2.144.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): get version from runtime
  area/apps/apps.pbtxt
  area/apps/lean/bezeichner.yaml
  area/apps/lean/sasha.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
Due: apps

feat(apps): get version from runtime (#1147)
  area/apps/apps.pbtxt
  area/apps/lean/bezeichner.yaml
  area/apps/lean/sasha.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
Due: apps

chore(release): v2.145.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use fs
  area/apps/apps.pbtxt
Due: apps

feat(apps): use fs (#1148)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.146.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): simplify init
  area/apps/apps.pbtxt
Due: apps

feat(apps): simplify init (#1150)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.147.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add opts
  area/apps/apps.pbtxt
Due: apps

feat(apps): add opts (#1151)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.148.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): reverse the check logic
  .circleci/continue_config.yml
  area/apps/apps.pbtxt
Due: gh, cf, do, apps

feat(apps): reverse the check logic (#1152)
  .circleci/continue_config.yml
  area/apps/apps.pbtxt
Due: gh, cf, do, apps

chore(release): v2.149.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.150.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps):
  area/apps/apps.pbtxt
Due: apps

feat(apps): (#1154)
  area/apps/apps.pbtxt
Due: apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: internal/gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: internal/cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: internal/do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: internal/app/.*)) or (any of: go.*)
