Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

chore(release): v2.176.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use alexfalkowski/go:2.24
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use alexfalkowski/go:2.24 (#1189)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.177.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.178.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add access control
  area/apps/apps.pbtxt
Due: apps

feat(apps): add access control (#1193)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.179.0 [ci skip]
  CHANGELOG.md
Due: none

feat(do): add medium
  area/do/do.pbtxt
  internal/do/do.go
Due: do

feat(do): add medium (#1194)
  area/do/do.pbtxt
  internal/do/do.go
Due: do

chore(release): v2.180.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): move to new cluster
  area/apps/Makefile
  area/cf/cf.pbtxt
  area/k8s/Makefile
Due: cf, apps

feat(apps): move to new cluster (#1195)
  area/apps/Makefile
  area/cf/cf.pbtxt
  area/k8s/Makefile
Due: cf, apps

chore(release): v2.181.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): extract user to ssh tokens
  area/apps/apps.pbtxt
Due: apps

feat(apps): extract user to ssh tokens (#1196)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.182.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.183.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use in memory model for access
  area/apps/apps.pbtxt
  area/apps/lean/bezeichner.yaml
  area/apps/lean/sasha.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
Due: apps

feat(apps): use in memory model for access (#1198)
  area/apps/apps.pbtxt
  area/apps/lean/bezeichner.yaml
  area/apps/lean/sasha.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
Due: apps

chore(release): v2.184.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update grpc to v1.73.0
  area/apps/apps.pbtxt
Due: apps

feat(apps): update grpc to v1.73.0 (#1199)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.185.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): ignore missing token
  area/apps/apps.pbtxt
  area/apps/lean/bezeichner.yaml
  area/apps/lean/sasha.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
Due: apps

feat(apps): ignore missing token (#1200)
  area/apps/apps.pbtxt
  area/apps/lean/bezeichner.yaml
  area/apps/lean/sasha.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
Due: apps

chore(release): v2.186.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): handle nil
  area/apps/apps.pbtxt
Due: apps

feat(apps): handle nil (#1201)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.187.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci):
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use alexfalkowski/k8s:1.60
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use alexfalkowski/k8s:1.60 (#1203)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): update golang.org/x/net to 0.41.0
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.188.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update golang.org/x/net to 0.41.0 (#1205)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.189.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use env vars
  .circleci/continue_config.yml
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/apps.pbtxt
  internal/app/app.go
  internal/app/app_test.go
  internal/app/environment.go
Due: gh, cf, do, apps

feat(apps): use env vars (#1206)
  .circleci/continue_config.yml
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/apps.pbtxt
  internal/app/app.go
  internal/app/app_test.go
  internal/app/environment.go
Due: gh, cf, do, apps

build(ci): reenable api-breaking
  .circleci/continue_config.yml
Due: gh, cf, do, apps
