Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

chore(release): v2.69.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use partial views with htmx
  area/apps/apps.pbtxt
Due: apps

feat(apps): use partial views with htmx (#1038)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.70.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): check both templates are set for mvc
  area/apps/apps.pbtxt
Due: apps

feat(apps): check both templates are set for mvc (#1039)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.71.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): static files are only accesible through get
  area/apps/apps.pbtxt
Due: apps

feat(apps): static files are only accesible through get (#1040)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.72.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use alexfalkowski/k8s:1.42
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use alexfalkowski/k8s:1.42 (#1041)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(kubescore): apply findings from 'kubescape scan workload'
  internal/app/account.go
  internal/app/container.go
Due: apps

feat(kubescore): apply findings from 'kubescape scan workload' (#1042)
  internal/app/account.go
  internal/app/container.go
Due: apps

chore(release): v2.73.0 [ci skip]
  CHANGELOG.md
Due: none

feat(cf): add ability for public buckets
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/cf/cf.pbtxt
  go.mod
  go.sum
  internal/cf/balancer.go
  internal/cf/bucket.go
  internal/cf/cf.go
  internal/cf/page.go
  internal/cf/zone.go
  internal/inputs/inputs.go
Due: gh, cf, do, apps

feat(gh): update github.com/pulumi/pulumi-github/sdk/v6 to v6.7.0
  go.mod
  go.sum
  internal/gh/collaborator.go
  internal/gh/protection.go
  internal/gh/repository.go
Due: gh, cf, do, apps

feat(gh): update github.com/pulumi/pulumi-github/sdk/v6 to v6.7.0 (#1044)
  go.mod
  go.sum
  internal/gh/collaborator.go
  internal/gh/protection.go
  internal/gh/repository.go
Due: gh, cf, do, apps

chore(release): v2.74.0 [ci skip]
  CHANGELOG.md
Due: none

feat(cf):
  go.mod
  go.sum
  internal/cf/balancer.go
  internal/cf/bucket.go
  internal/cf/cf.go
  internal/cf/page.go
  internal/inputs/inputs.go
Due: gh, cf, do, apps

feat(cf): update github.com/pulumi/pulumi-cloudflare/sdk/v6 to v6.1.2
  .gitignore
  area/cf/cf.pbtxt
  area/cf/main_test.go
  go.mod
  go.sum
  internal/cf/balancer.go
  internal/cf/bucket.go
  internal/cf/cf.go
  internal/cf/page.go
  internal/inputs/inputs.go
Due: gh, cf, do, apps

feat(cf): update github.com/pulumi/pulumi-cloudflare/sdk/v6 to v6.1.2 (#1046)
  .gitignore
  area/cf/cf.pbtxt
  area/cf/main_test.go
  go.mod
  go.sum
  internal/cf/balancer.go
  internal/cf/bucket.go
  internal/cf/cf.go
  internal/cf/page.go
  internal/inputs/inputs.go
Due: gh, cf, do, apps

feat(cf): add ability for public buckets
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/cf/cf.pbtxt
  internal/cf/bucket.go
Due: cf

feat(cf): add ability for public buckets (#1047)
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/cf/cf.pbtxt
  internal/cf/bucket.go
Due: cf

chore(release): v2.75.0 [ci skip]
  CHANGELOG.md
Due: none

refactor(cf): extract creating zone
  internal/cf/balancer.go
  internal/cf/page.go
  internal/cf/zone.go
Due: cf

refactor(cf): extract creating zone (#1048)
  internal/cf/balancer.go
  internal/cf/page.go
  internal/cf/zone.go
Due: cf

build(ci): use resource_class: xlarge
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.76.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.77.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update sasha to v0.11.0
  area/apps/apps.pbtxt
Due: apps

feat(apps): update sasha to v0.11.0 (#1052)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.78.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update sasha config to v1.1.0
  area/apps/apps.pbtxt
Due: apps

feat(apps): update sasha config to v1.1.0 (#1053)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.79.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add view pair for web
  area/apps/apps.pbtxt
Due: apps

feat(apps): add view pair for web (#1054)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.80.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update sasha to v0.13.0
  area/apps/apps.pbtxt
Due: apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: internal/gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: internal/cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: internal/do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: internal/app/.*)) or (any of: go.*)
