Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

release(web): upgraded to v1.491.0 (#3202)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.928.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.928.0 (#3203)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#3206)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#3209)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

test(deps): updated buf dependencies
  api/buf.gen.yaml
  api/buf.lock
  api/infraops/v2/service.pb.go
Due: none

test(deps): updated buf dependencies (#3210)
  api/buf.gen.yaml
  api/buf.lock
  api/infraops/v2/service.pb.go
Due: none

release(bezeichner): upgraded to v1.929.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.929.0 (#3211)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.929.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.929.0 (#3212)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.930.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.930.0 (#3213)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.492.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.492.0 (#3214)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.930.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.930.0 (#3215)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.931.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.931.0 (#3217)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.493.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.493.0 (#3218)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.931.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.931.0 (#3219)
  area/apps/apps.hjson
Due: apps

feat(format): prevent cross-area configuration rewrites
  README.md
  cmd/format/doc.go
  cmd/format/format.go
  cmd/format/format_test.go
Due: none

feat(format): prevent cross-area configuration rewrites (#3220)
  README.md
  cmd/format/doc.go
  cmd/format/format.go
  cmd/format/format_test.go
Due: none

feat(apps): drop all container Linux capabilities
  internal/app/app_test.go
  internal/app/container.go
Due: apps

feat(apps): drop all container Linux capabilities (#3221)
  internal/app/app_test.go
  internal/app/container.go
Due: apps

feat(do): update to 1.36.0-do.3
  internal/do/do.go
Due: do

feat(do): update to 1.36.0-do.3 (#3222)
  internal/do/do.go
Due: do

test(format): cover cross-area configuration rejection
  cmd/format/format_test.go
Due: none

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: internal/gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: internal/cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: internal/do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: internal/app/.*)) or (any of: go.*)
