Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

build(ci): use latest published images (#2099)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.713.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.713.0 (#2100)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.704.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.704.0 (#2101)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.272.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.272.0 (#2102)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2103)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.447.0 [ci skip]
  CHANGELOG.md
Due: none

release(standort): upgraded to v2.705.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.705.0 (#2106)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.714.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.714.0 (#2105)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.273.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.273.0 (#2107)
  area/apps/apps.hjson
Due: apps

feat(apps): remove http headers for probe
  internal/app/probe.go
Due: apps

feat(apps): remove http headers for probe (#2109)
  internal/app/probe.go
Due: apps

chore(release): v2.448.0 [ci skip]
  CHANGELOG.md
Due: none

release(web): upgraded to v1.274.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.274.0 (#2110)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.715.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.715.0 (#2111)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.706.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.706.0 (#2112)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images (#2113)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.449.0 [ci skip]
  CHANGELOG.md
Due: none

docs(readme): remove diagrams
  Makefile
  README.md
  assets/..png
Due: none

docs(readme): remove diagrams (#2115)
  Makefile
  README.md
  assets/..png
Due: none

test(areas): add shared area config fixtures and table-driven area tests
  area/apps/fiction/atlas.yaml
  area/apps/fiction/beacon.yaml
  area/apps/main_test.go
  area/cf/main_test.go
  area/do/main_test.go
  area/gh/main_test.go
  internal/test/apps.hjson
  internal/test/cf.hjson
  internal/test/do.hjson
  internal/test/gh.hjson
Due: gh, cf, do, apps

test(areas): add shared area config fixtures and table-driven area tests (#2117)
  area/apps/fiction/atlas.yaml
  area/apps/fiction/beacon.yaml
  area/apps/main_test.go
  area/cf/main_test.go
  area/do/main_test.go
  area/gh/main_test.go
  internal/test/apps.hjson
  internal/test/cf.hjson
  internal/test/do.hjson
  internal/test/gh.hjson
Due: gh, cf, do, apps

build(cover): ignore log
  .gocov
Due: none

build(cover): ignore log (#2118)
  .gocov
Due: none

release(bezeichner): upgraded to v1.716.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.716.0 (#2119)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.707.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.707.0 (#2120)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.275.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.275.0 (#2121)
  area/apps/apps.hjson
Due: apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: internal/gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: internal/cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: internal/do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: internal/app/.*)) or (any of: go.*)
