Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

release(bezeichner): upgraded to v1.773.0 (#2423)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.337.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.337.0 (#2425)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.764.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.764.0 (#2424)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.774.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.774.0 (#2429)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.338.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.338.0 (#2430)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.765.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.765.0 (#2431)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2432)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(standort): upgraded to v2.766.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.766.0 (#2436)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.775.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.775.0 (#2434)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.339.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.339.0 (#2435)
  area/apps/apps.hjson
Due: apps

feat(gh): preserve incomplete template validation
  internal/gh/gh.go
  internal/gh/gh_test.go
Due: gh

feat(gh): preserve incomplete template validation (#2437)
  internal/gh/gh.go
  internal/gh/gh_test.go
Due: gh

feat(app): set service protocol metadata
  area/apps/doc.go
  area/apps/main.go
  area/cf/doc.go
  area/cf/main.go
  area/do/doc.go
  area/do/main.go
  area/gh/doc.go
  area/gh/main.go
  cmd/bump/bump.go
  cmd/bump/doc.go
  cmd/format/doc.go
  cmd/format/format.go
  internal/app/app_test.go
  internal/app/network.go
  internal/app/port.go
  internal/app/probe.go
Due: gh, cf, do, apps

feat(app): set service protocol metadata (#2438)
  area/apps/doc.go
  area/apps/main.go
  area/cf/doc.go
  area/cf/main.go
  area/do/doc.go
  area/do/main.go
  area/gh/doc.go
  area/gh/main.go
  cmd/bump/bump.go
  cmd/bump/doc.go
  cmd/format/doc.go
  cmd/format/format.go
  internal/app/app_test.go
  internal/app/network.go
  internal/app/port.go
  internal/app/probe.go
Due: gh, cf, do, apps

build(ci): use latest published images (#2440)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(standort): upgraded to v2.766.1
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.766.1 (#2441)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.775.1
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.775.1 (#2442)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.339.1
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.339.1 (#2443)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.776.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.776.0 (#2444)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.340.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.340.0 (#2445)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.767.0
  area/apps/apps.hjson
Due: apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: internal/gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: internal/cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: internal/do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: internal/app/.*)) or (any of: go.*)
