Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

chore(release): v2.217.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): update checks for status
  area/gh/gh.pbtxt
Due: gh

feat(gh): update checks for status (#1242)
  area/gh/gh.pbtxt
Due: gh

chore(release): v2.218.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): update checks for sashactl
  area/gh/gh.pbtxt
Due: gh

feat(gh): update checks for sashactl (#1243)
  area/gh/gh.pbtxt
Due: gh

chore(release): v2.219.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use alexfalkowski/k8s:1.63
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use alexfalkowski/k8s:1.63 (#1244)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(apps): update sprout to v1.0.1
  area/apps/apps.pbtxt
Due: apps

feat(apps): update sprout to v1.0.1 (#1245)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.220.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update automemlimit from 0.7.2 to 0.7.3
  area/apps/apps.pbtxt
Due: apps

feat(apps): update automemlimit from 0.7.2 to 0.7.3 (#1246)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.221.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update monitoror config
  area/apps/apps.pbtxt
Due: apps

feat(apps): update monitoror config (#1247)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.222.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): remove ping for monitoror
  area/apps/apps.pbtxt
Due: apps

feat(apps): remove ping for monitoror (#1249)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.223.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add sasha
  area/apps/apps.pbtxt
Due: apps

feat(apps): add sasha (#1250)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.224.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.225.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update cloudevents from 2.16.0 to 2.16.1
  area/apps/apps.pbtxt
Due: apps

feat(apps): update cloudevents from 2.16.0 to 2.16.1 (#1251)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.226.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.227.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update go-sdk-contrib to v0.3.5
  area/apps/apps.pbtxt
Due: apps

feat(apps): update go-sdk-contrib to v0.3.5 (#1253)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.228.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update go-retryablehttp to v0.7.8
  area/apps/apps.pbtxt
Due: apps

feat(apps): update go-retryablehttp to v0.7.8 (#1254)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.229.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): restructure meta
  area/apps/apps.pbtxt
Due: apps

feat(apps): restructure meta (#1255)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.230.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.231.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.232.0 [ci skip]
  CHANGELOG.md
Due: none
