Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, k8s, apps

feat(apps): updated versions (#252)
  area/apps/bezeichner/service.yaml
  area/apps/konfig/service.yaml
  area/apps/standort/config.yaml
  area/apps/standort/service.yaml
  area/gh/client.go
  area/gh/service.go
Due: gh, apps

chore(release): v1.75.0 [ci skip]
  CHANGELOG.md
Due: none

fix(gh): remove unused checks for standort
  area/gh/service.go
Due: gh

fix(gh): remove unused checks for standort (#253)
  area/gh/service.go
Due: gh

chore(release): v1.75.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): remove k8s creation
  .circleci/config.yml
  .circleci/continue_config.yml
  README.md
  area/apps/Makefile
  area/cf/main.go
  area/k8s/Makefile
Due: cf, k8s, apps

feat(apps): remove k8s creation (#254)
  .circleci/config.yml
  .circleci/continue_config.yml
  README.md
  area/apps/Makefile
  area/cf/main.go
  area/k8s/Makefile
Due: cf, k8s, apps

chore(release): v1.76.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add verify
  .circleci/continue_config.yml
  area/apps/Makefile
  area/apps/bezeichner/include.mk
  area/apps/standort/include.mk
Due: apps

feat(apps): add verify (#255)
  .circleci/continue_config.yml
  area/apps/Makefile
  area/apps/bezeichner/include.mk
  area/apps/standort/include.mk
Due: apps

chore(release): v1.77.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): prepare to use pulumi
  .circleci/continue_config.yml
  area/apps/Pulumi.yaml
  area/apps/main.go
Due: apps

feat(apps): prepare to use pulumi (#256)
  .circleci/continue_config.yml
  area/apps/Pulumi.yaml
  area/apps/main.go
Due: apps

feat(apps): add konfig to pulumi
  .circleci/config.yml
  .circleci/continue_config.yml
  README.md
  app/account.go
  app/app.go
  app/app_test.go
  app/config.go
  app/mocks.go
  app/policy.go
  app/service.go
  app/test.yaml
  area/apps/Makefile
  area/apps/bezeichner/include.mk
  area/apps/konfig.mk
  area/apps/konfig.yaml
  area/apps/konfig/account.yaml
  area/apps/konfig/config.yaml
  area/apps/konfig/network.yaml
  area/apps/konfig/policy.yaml
  area/apps/konfig/service.yaml
  area/apps/main.go
  area/apps/main_test.go
  area/apps/secrets.mk
  area/apps/standort/include.mk
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(apps): add konfig to pulumi (#257)
  .circleci/config.yml
  .circleci/continue_config.yml
  README.md
  app/account.go
  app/app.go
  app/app_test.go
  app/config.go
  app/mocks.go
  app/policy.go
  app/service.go
  app/test.yaml
  area/apps/Makefile
  area/apps/bezeichner/include.mk
  area/apps/konfig.mk
  area/apps/konfig.yaml
  area/apps/konfig/account.yaml
  area/apps/konfig/config.yaml
  area/apps/konfig/network.yaml
  area/apps/konfig/policy.yaml
  area/apps/konfig/service.yaml
  area/apps/main.go
  area/apps/main_test.go
  area/apps/secrets.mk
  area/apps/standort/include.mk
  go.mod
  go.sum
Due: gh, cf, do, apps

chore(release): v1.78.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps):
  app/app.go
  app/app_test.go
  app/config.go
  app/service.go
  area/apps/main.go
Due: apps

fix(apps): infer config
  app/app.go
  app/app_test.go
  app/config.go
  app/service.go
  area/apps/main.go
Due: apps

fix(apps): infer config (#259)
  app/app.go
  app/app_test.go
  app/config.go
  app/service.go
  area/apps/main.go
Due: apps

chore(release): v1.78.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps):
  app/app.go
  app/app_test.go
  app/config.go
  app/init.go
  app/init.yaml
  app/service.go
  app/test.yaml
  area/apps/Makefile
  area/apps/apps.go
  area/apps/init.yaml
  area/apps/main.go
  area/apps/standort.mk
  area/apps/standort/account.yaml
  area/apps/standort/config.yaml
  area/apps/standort/ingress.yaml
  area/apps/standort/network.yaml
  area/apps/standort/policy.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): add standort
  app/app.go
  app/app_test.go
  app/config.go
  app/ingress.go
  app/init.go
  app/init.yaml
  app/service.go
  app/test.yaml
  area/apps/Makefile
  area/apps/apps.go
  area/apps/init.yaml
  area/apps/main.go
  area/apps/standort.mk
  area/apps/standort/account.yaml
  area/apps/standort/config.yaml
  area/apps/standort/ingress.yaml
  area/apps/standort/network.yaml
  area/apps/standort/policy.yaml
  area/apps/standort/service.yaml
Due: apps

feat(apps): add standort (#261)
  app/app.go
  app/app_test.go
  app/config.go
  app/ingress.go
  app/init.go
  app/init.yaml
  app/service.go
  app/test.yaml
  area/apps/Makefile
  area/apps/apps.go
  area/apps/init.yaml
  area/apps/main.go
  area/apps/standort.mk
  area/apps/standort/account.yaml
  area/apps/standort/config.yaml
  area/apps/standort/ingress.yaml
  area/apps/standort/network.yaml
  area/apps/standort/policy.yaml
  area/apps/standort/service.yaml
Due: apps

chore(release): v1.79.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add bezeichner
  area/apps/Makefile
  area/apps/apps.go
  area/apps/bezeichner.mk
  area/apps/bezeichner/account.yaml
  area/apps/bezeichner/config.yaml
  area/apps/bezeichner/ingress.yaml
  area/apps/bezeichner/network.yaml
  area/apps/bezeichner/policy.yaml
  area/apps/bezeichner/service.yaml
  area/apps/main.go
Due: apps

feat(apps): add bezeichner (#262)
  area/apps/Makefile
  area/apps/apps.go
  area/apps/bezeichner.mk
  area/apps/bezeichner/account.yaml
  area/apps/bezeichner/config.yaml
  area/apps/bezeichner/ingress.yaml
  area/apps/bezeichner/network.yaml
  area/apps/bezeichner/policy.yaml
  area/apps/bezeichner/service.yaml
  area/apps/main.go
Due: apps

chore(release): v1.80.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): remove version prefix
  app/app.go
  app/service.go
  area/apps/apps.go
  area/apps/init.yaml
Due: apps

fix(apps): remove version prefix (#263)
  app/app.go
  app/service.go
  area/apps/apps.go
  area/apps/init.yaml
Due: apps

chore(release): v1.80.1 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): add rollout
  .circleci/continue_config.yml
Due: none

fix(apps): add rollout (#264)
  .circleci/continue_config.yml
Due: none

fix(apps): add verify
  .circleci/continue_config.yml
Due: none

chore(release): v1.80.2 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): add verify (#265)
  .circleci/continue_config.yml
Due: none

chore(release): v1.80.3 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): use strings replacer
  app/config.go
  app/ingress.go
  app/init.go
Due: none

fix(apps): use strings replacer (#266)
  app/config.go
  app/ingress.go
  app/init.go
Due: none

chore(release): v1.80.4 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): run kube-score
  .circleci/continue_config.yml
  app/app.go
  app/network.go
  app/policy.go
  area/apps/Makefile
Due: apps

Path conditions:
  gh: ((any of: area/gh/.*) or (any of: gh/.*)) or (any of: go.*)
  cf: ((any of: area/cf/.*) or (any of: cf/.*)) or (any of: go.*)
  do: ((any of: area/do/.*) or (any of: do/.*)) or (any of: go.*)
  k8s: any of: area/k8s/.*
  apps: any of: area/apps/.*
