Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

chore(release): v2.441.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): check ci/circleci: wait-all
  area/gh/gh.hjson
Due: gh

feat(gh): check ci/circleci: wait-all (#2079)
  area/gh/gh.hjson
Due: gh

chore(release): v2.442.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): check ci/circleci: wait-all (#2080)
  area/gh/gh.hjson
Due: gh

chore(release): v2.443.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2081)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use alexfalkowski/release:5.58
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use alexfalkowski/release:5.58 (#2082)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(deps): make update-all-dep
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(deps): make update-all-dep (#2084)
  go.mod
  go.sum
Due: gh, cf, do, apps

chore(release): v2.444.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#2085)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(web): upgraded to v1.268.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.268.0 (#2086)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images (#2089)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.445.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.446.0 [ci skip]
  CHANGELOG.md
Due: none

release(bezeichner): upgraded to v1.711.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.701.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.701.0 (#2091)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.269.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.269.0 (#2093)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.702.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.702.0 (#2094)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.270.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.270.0 (#2095)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.712.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.712.0 (#2096)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.703.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.703.0 (#2097)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.271.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.271.0 (#2098)
  area/apps/apps.hjson
Due: apps
