Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#504)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.213.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.214.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.215.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.216.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#508)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.217.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): uddate github.com/pulumi/pulumi-digitalocean/sdk/v4 to v4.33.0
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(deps): uddate github.com/pulumi/pulumi-digitalocean/sdk/v4 to v4.33.0 (#509)
  go.mod
  go.sum
Due: gh, cf, do, apps

chore(release): v1.218.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

fix(apps): update versions (#510)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.218.1 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.219.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.220.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update go to v1.23.2
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update go to v1.23.2 (#514)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.221.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.222.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#516)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.223.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.224.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#518)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.225.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.226.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.227.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions (#521)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.227.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#522)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.228.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#523)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.229.0 [ci skip]
  CHANGELOG.md
Due: none

feat(cf): add sasha-adventures zone
  area/cf/main.go
  cf/cf.go
Due: cf
