Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): add version for metrics (#1222)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.202.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): move opts to vars for cli
  area/apps/apps.pbtxt
Due: apps

feat(apps): move opts to vars for cli (#1225)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.203.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.204.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): move fx to di
  area/apps/apps.pbtxt
Due: apps

feat(apps): move fx to di (#1226)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.205.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.206.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.207.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update monitoror 1.16
  .circleci/continue_config.yml
  area/apps/apps.pbtxt
Due: gh, cf, do, apps

feat(apps): update monitoror 1.16 (#1232)
  .circleci/continue_config.yml
  area/apps/apps.pbtxt
Due: gh, cf, do, apps

feat(gh): remove ci/circleci: build for docker
  area/gh/gh.pbtxt
Due: gh

chore(release): v2.208.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): remove ci/circleci: build for docker (#1233)
  area/gh/gh.pbtxt
Due: gh

chore(release): v2.209.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.210.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): update checks for go-service-template
  area/gh/gh.pbtxt
Due: gh

feat(gh): update checks for go-service-template (#1234)
  area/gh/gh.pbtxt
Due: gh

chore(release): v2.211.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): update checks for go-client-template
  .circleci/config.yml
  area/gh/gh.pbtxt
Due: gh, cf, do, apps

feat(gh): update checks for go-client-template (#1236)
  .circleci/config.yml
  area/gh/gh.pbtxt
Due: gh, cf, do, apps

chore(release): v2.212.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): update checks for bezeichner
  area/gh/gh.pbtxt
Due: gh

feat(gh): update checks for bezeichner (#1237)
  area/gh/gh.pbtxt
Due: gh

chore(release): v2.213.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): update checks for standort
  area/gh/gh.pbtxt
Due: gh

feat(gh): update checks for standort (#1238)
  area/gh/gh.pbtxt
Due: gh

chore(release): v2.214.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): update checks for migrieren
  area/gh/gh.pbtxt
Due: gh

feat(gh): update checks for migrieren (#1239)
  area/gh/gh.pbtxt
Due: gh

chore(release): v2.215.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): update checks for sasha
  area/gh/gh.pbtxt
Due: gh

feat(gh): update checks for sasha (#1240)
  area/gh/gh.pbtxt
Due: gh

chore(release): v2.216.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): update checks for web
  area/gh/gh.pbtxt
Due: gh

feat(gh): update checks for web (#1241)
  area/gh/gh.pbtxt
Due: gh
