Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

release(web): upgraded to v1.168.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.168.0 (#1519)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.324.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1521)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1522)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.608.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.598.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.169.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.608.0 (#1523)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.598.0 (#1524)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.169.0 (#1525)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.599.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.599.0 (#1526)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.170.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.170.0 (#1527)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.325.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.326.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1530)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(standort): upgraded to v2.600.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.600.0 (#1532)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.609.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.609.0 (#1531)
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images (#1533)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.610.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.610.0 (#1534)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.601.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.601.0 (#1536)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.171.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.171.0 (#1535)
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images (#1537)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.611.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.611.0 (#1538)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.602.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.602.0 (#1539)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.172.0
  area/apps/apps.pbtxt
Due: apps
