Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1384)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.302.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): set explicitly AllowSquashMerge
  internal/gh/repository.go
Due: gh

chore(release): v2.303.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): set explicitly AllowSquashMerge (#1387)
  internal/gh/repository.go
Due: gh

chore(release): v2.304.0 [ci skip]
  CHANGELOG.md
Due: none

release(bezeichner): upgraded to v1.580.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.580.0 (#1388)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.571.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.571.0 (#1389)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.140.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.140.0 (#1390)
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images (#1391)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.581.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.581.0 (#1392)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.141.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.141.0 (#1394)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.572.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.572.0 (#1393)
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images (#1395)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.582.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.582.0 (#1396)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.573.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.573.0 (#1398)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.142.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.142.0 (#1397)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.143.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.143.0 (#1399)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.574.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.583.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.583.0 (#1401)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.574.0 (#1400)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.144.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.144.0 (#1402)
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images (#1403)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.584.0
  area/apps/apps.pbtxt
Due: apps
