Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

feat(apps): upgrade versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): upgrade versions (#413)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.160.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): upgrade versions
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.go
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): upgrade versions (#414)
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.go
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.161.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): expose debug port
  app/app.go
  app/app_test.go
  app/service.go
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): expose debug port (#415)
  app/app.go
  app/app_test.go
  app/service.go
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.162.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): upgrade versions
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
Due: apps

feat(apps): upgrade versions (#416)
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
Due: apps

chore(release): v1.163.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): upgrade configuration
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
Due: apps

fix(apps): upgrade configuration (#417)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.yaml
  area/apps/lean/standort.go
Due: apps

chore(release): v1.163.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): upgrade versions (#418)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.164.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): wrong version for bezeichner
  area/apps/lean/bezeichner.go
Due: apps

fix(apps): wrong version for bezeichner (#419)
  area/apps/lean/bezeichner.go
Due: apps

chore(release): v1.164.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): upgrade versions (#420)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.165.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): add konfig control
  area/apps/lean/lean.go
  area/apps/main.go
  area/gh/client.go
  area/gh/gh.go
  area/gh/main.go
  pulumi/pulumi.go
Due: gh, apps

feat(gh): add konfig control (#421)
  area/apps/lean/lean.go
  area/apps/main.go
  area/gh/client.go
  area/gh/gh.go
  area/gh/main.go
  pulumi/pulumi.go
Due: gh, apps

chore(release): v1.166.0 [ci skip]
  CHANGELOG.md
Due: none

fix(gh): enable pages for konfigctl
  area/gh/client.go
Due: gh

fix(gh): enable pages for konfigctl (#422)
  area/gh/client.go
Due: gh

chore(release): v1.166.1 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use new init container
  app/service.go
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): use new init container (#423)
  app/service.go
  area/apps/lean/bezeichner.go
  area/apps/lean/init.yaml
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.167.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update init to v0.3.0
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update init to v0.3.0 (#424)
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.168.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update init to v0.4.0
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update init to v0.4.0 (#425)
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.169.0 [ci skip]
  CHANGELOG.md
Due: none

feat(app): add timout to probes
  app/service.go
Due: apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: app/.*)) or (any of: go.*)
