Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): use listen from stdlib (#1292)
  .circleci/continue_config.yml
  area/apps/apps.pbtxt
Due: gh, cf, do, apps

chore(release): v2.254.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add default address
  area/apps/apps.pbtxt
Due: apps

feat(apps): add default address (#1293)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.255.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.256.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): pass name first to http.Pattern
  area/apps/apps.pbtxt
Due: apps

feat(apps): pass name first to http.Pattern (#1295)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.257.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.258.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.259.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update deps
  .circleci/continue_config.yml
  area/apps/apps.pbtxt
Due: gh, cf, do, apps

feat(apps): update deps (#1298)
  .circleci/continue_config.yml
  area/apps/apps.pbtxt
Due: gh, cf, do, apps

chore(release): v2.260.0 [ci skip]
  CHANGELOG.md
Due: none

feat(deps): update github.com/pulumi/pulumi/sdk/v3 to v3.183.0
  .circleci/continue_config.yml
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(deps): update github.com/pulumi/pulumi/sdk/v3 to v3.183.0 (#1299)
  .circleci/continue_config.yml
  go.mod
  go.sum
Due: gh, cf, do, apps

chore(release): v2.261.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.262.0 [ci skip]
  CHANGELOG.md
Due: none

refactor(style): remove wsl and nlreturn
  .golangci.yml
  internal/app/app.go
  internal/app/config.go
  internal/app/container.go
  internal/app/deployment.go
  internal/app/environment.go
  internal/app/image.go
  internal/app/metadata.go
  internal/app/policy.go
  internal/app/resource.go
  internal/app/secret.go
  internal/app/service.go
  internal/cf/balancer.go
  internal/cf/cf.go
  internal/cf/page.go
  internal/config/config.go
  internal/do/do.go
  internal/gh/collaborator.go
  internal/gh/gh.go
Due: gh, cf, do, apps

refactor(style): remove wsl and nlreturn (#1301)
  .golangci.yml
  internal/app/app.go
  internal/app/config.go
  internal/app/container.go
  internal/app/deployment.go
  internal/app/environment.go
  internal/app/image.go
  internal/app/metadata.go
  internal/app/policy.go
  internal/app/resource.go
  internal/app/secret.go
  internal/app/service.go
  internal/cf/balancer.go
  internal/cf/cf.go
  internal/cf/page.go
  internal/config/config.go
  internal/do/do.go
  internal/gh/collaborator.go
  internal/gh/gh.go
Due: gh, cf, do, apps

feat(config): use generics
  internal/config/config.go
Due: none

feat(config): use generics (#1302)
  internal/config/config.go
Due: none

chore(release): v2.263.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add ability to update version
  .gitignore
  .gocov
  Makefile
  README.md
  area/apps/apps.pbtxt
  cmd/bump.go
  internal/app/app.go
  internal/app/test/apps.pbtxt
  internal/app/version/version.go
  internal/app/version/version_test.go
  internal/config/config.go
Due: apps

feat(apps): add ability to update version (#1303)
  .gitignore
  .gocov
  Makefile
  README.md
  area/apps/apps.pbtxt
  cmd/bump.go
  internal/app/app.go
  internal/app/test/apps.pbtxt
  internal/app/version/version.go
  internal/app/version/version_test.go
  internal/config/config.go
Due: apps

chore(release): v2.264.0 [ci skip]
  CHANGELOG.md
Due: none

feat(format): follow marshal of prototext
  .gitignore
  .gocov
  Makefile
  README.md
  area/cf/cf.pbtxt
  area/do/do.pbtxt
  area/gh/gh.pbtxt
  assets/..png
  cmd/bump/bump.go
  cmd/format/format.go
  internal/config/config.go
Due: gh, cf, do

feat(format): follow marshal of prototext (#1304)
  .gitignore
  .gocov
  Makefile
  README.md
  area/cf/cf.pbtxt
  area/do/do.pbtxt
  area/gh/gh.pbtxt
  assets/..png
  cmd/bump/bump.go
  cmd/format/format.go
  internal/config/config.go
Due: gh, cf, do

chore(release): v2.265.0 [ci skip]
  CHANGELOG.md
Due: none

refactor(format): store in map
  cmd/format/format.go
  internal/config/config.go
Due: none

refactor(format): store in map (#1305)
  cmd/format/format.go
  internal/config/config.go
Due: none

feat(deps): upgraded bezeichner to v1.0.0
  area/apps/apps.pbtxt
Due: apps

feat(build): use vendor
  Makefile
Due: none

feat(build): use vendor (#1308)
  Makefile
Due: none

chore(release): v2.266.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.267.0 [ci skip]
  CHANGELOG.md
Due: none
