Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

release(standort): upgraded to v2.656.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.656.0 (#1794)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.663.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.663.0 (#1795)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.224.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.224.0 (#1796)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.376.0 [ci skip]
  CHANGELOG.md
Due: none

feat(log): use slog
  .golangci.yml
  cmd/bump/bump.go
  cmd/format/format.go
  internal/log/log.go
Due: none

feat(log): use slog (#1798)
  .golangci.yml
  cmd/bump/bump.go
  cmd/format/format.go
  internal/log/log.go
Due: none

chore(release): v2.377.0 [ci skip]
  CHANGELOG.md
Due: none

release(web): upgraded to v1.225.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.225.0 (#1799)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.664.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.664.0 (#1800)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.657.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.657.0 (#1801)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.378.0 [ci skip]
  CHANGELOG.md
Due: none

release(standort): upgraded to v2.658.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.658.0 (#1805)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.665.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.665.0 (#1806)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.226.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.226.0 (#1807)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.379.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1809)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(deps): update go to v1.25.0
  go.mod
Due: gh, cf, do, apps

feat(deps): update go to v1.25.0 (#1810)
  go.mod
Due: gh, cf, do, apps

chore(release): v2.380.0 [ci skip]
  CHANGELOG.md
Due: none

release(bezeichner): upgraded to v1.666.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.666.0 (#1811)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.659.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.227.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.227.0 (#1812)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.660.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.659.0 (#1813)
  area/apps/apps.pbtxt
Due: apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: internal/gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: internal/cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: internal/do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: internal/app/.*)) or (any of: go.*)
