Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(deps): upgraded github.com/pulumi/pulumi/sdk/v3 v3.261.0 => v3.262.0
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(deps): upgraded github.com/pulumi/pulumi/sdk/v3 v3.261.0 => v3.262.0 (#3537)
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(do): update cluster to 1.36.3-do.4
  internal/do/do.go
Due: do

feat(do): update cluster to 1.36.3-do.4 (#3538)
  internal/do/do.go
Due: do

release(web): upgraded to v1.564.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.564.0 (#3539)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.565.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.565.0 (#3541)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.1001.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.1001.0 (#3542)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.999.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.999.0 (#3543)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#3544)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(standort): upgraded to v2.1002.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.1002.0 (#3546)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.566.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.566.0 (#3548)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.1000.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.1000.0 (#3547)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images (#3549)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.1001.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.1001.0 (#3551)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.567.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.567.0 (#3553)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.1003.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.1003.0 (#3552)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images (#3550)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(deps): upgraded github.com/pulumi/pulumi/sdk/v3 v3.262.0 => v3.263.0
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(deps): upgraded github.com/pulumi/pulumi/sdk/v3 v3.262.0 => v3.263.0 (#3554)
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(do): update to 1.36.3-do.5
  internal/do/do.go
Due: do

feat(do): update to 1.36.3-do.5 (#3555)
  internal/do/do.go
Due: do

feat(do): decrese node count to 1
  internal/do/do.go
Due: do

feat(do): decrese node count to 1 (#3556)
  internal/do/do.go
Due: do
