Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

release(bezeichner): upgraded to v1.681.0 (#1896)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1897)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(standort): upgraded to v2.672.1
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.672.1 (#1898)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.681.1
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.681.1 (#1899)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.240.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.240.0 (#1900)
  area/apps/apps.hjson
Due: apps

chore(release): v2.395.0 [ci skip]
  CHANGELOG.md
Due: none

release(bezeichner): upgraded to v1.682.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.682.0 (#1902)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.241.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.241.0 (#1903)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.673.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.673.0 (#1904)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images (#1905)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.683.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.683.0 (#1906)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images (#1907)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(web): upgraded to v1.242.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.242.0 (#1908)
  area/apps/apps.hjson
Due: apps

chore(release): v2.396.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.397.0 [ci skip]
  CHANGELOG.md
Due: none

release(bezeichner): upgraded to v1.684.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.684.0 (#1911)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.674.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.674.0 (#1912)
  area/apps/apps.hjson
Due: apps

chore(release): v2.398.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1914)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1915)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.399.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1917)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(deps): upgraded github.com/cloudflare/circl v1.6.2 => v1.6.3
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(deps): upgraded github.com/cloudflare/circl v1.6.2 => v1.6.3 (#1918)
  go.mod
  go.sum
Due: gh, cf, do, apps
