Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

chore(release): v2.400.0 [ci skip]
  CHANGELOG.md
Due: none

release(standort): upgraded to v2.675.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.675.0 (#1919)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1920)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(web): upgraded to v1.243.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.243.0 (#1921)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.685.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.685.0 (#1922)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.676.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.676.0 (#1923)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.244.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.244.0 (#1924)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.677.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.677.0 (#1925)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.686.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.686.0 (#1926)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images (#1927)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.687.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.687.0 (#1928)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images (#1929)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.688.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.688.0 (#1930)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.245.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.245.0 (#1931)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.678.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.678.0 (#1932)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.679.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.679.0 (#1933)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.246.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.246.0 (#1934)
  area/apps/apps.hjson
Due: apps

chore(release): v2.401.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1937)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1938)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.689.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.689.0 (#1939)
  area/apps/apps.hjson
Due: apps
