Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

chore(release): v2.34.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update monitoror to v1.7
  area/apps/apps.pbtxt
Due: apps

feat(apps): update monitoror to v1.7 (#993)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.35.0 [ci skip]
  CHANGELOG.md
Due: none

feat(bin): use the new field allignment
  .circleci/continue_config.yml
  .gofa
  Makefile
  api/buf.gen.yaml
  api/infraops/v2/service.pb.go
Due: gh, cf, do, apps

feat(bin): use the new field allignment (#994)
  .circleci/continue_config.yml
  .gofa
  Makefile
  api/buf.gen.yaml
  api/infraops/v2/service.pb.go
Due: gh, cf, do, apps

feat(apps): use bookworm
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.36.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use bookworm (#995)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.37.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): pass a logger to maxprocs
  area/apps/apps.pbtxt
Due: apps

feat(apps): pass a logger to maxprocs (#996)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.38.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update grpc
  area/apps/apps.pbtxt
Due: apps

feat(apps): update grpc (#997)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.39.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): kind is not needed to standort
  area/apps/apps.pbtxt
Due: apps

feat(apps): kind is not needed to standort (#999)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.40.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use alexfalkowski/go:2.12
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use alexfalkowski/go:2.12 (#1000)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(app): use files for input/output
  internal/app/config.go
  internal/app/container.go
Due: none

feat(app): use files for input/output (#1001)
  internal/app/config.go
  internal/app/container.go
Due: none

chore(release): v2.41.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): flags are created by the command
  area/apps/apps.pbtxt
Due: apps

feat(apps): flags are created by the command (#1002)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.42.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): remove environments
  area/apps/apps.pbtxt
Due: apps

feat(apps): remove environments (#1003)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.43.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use slog for commands
  area/apps/apps.pbtxt
Due: apps

feat(apps): use slog for commands (#1004)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.44.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use init v0.260.0
  area/apps/apps.pbtxt
Due: apps

feat(apps): use init v0.260.0 (#1005)
  area/apps/apps.pbtxt
Due: apps

feat(apps): on exit just return the error without exception
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.45.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): on exit just return the error without exception (#1006)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.46.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): follow the pattern of nil with disabled config
  area/apps/apps.pbtxt
Due: apps
