Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): we do not need stateful set (#1171)
  internal/app/app.go
  internal/app/deployment.go
Due: apps

chore(release): v2.164.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add headless service
  internal/app/account.go
  internal/app/config.go
  internal/app/deployment.go
  internal/app/metadata.go
  internal/app/network.go
  internal/app/policy.go
  internal/app/service.go
Due: apps

feat(apps): use os.Args
  area/apps/apps.pbtxt
  internal/app/container.go
  internal/app/metadata.go
  internal/inputs/inputs.go
Due: apps

feat(apps): use os.Args (#1173)
  area/apps/apps.pbtxt
  internal/app/container.go
  internal/app/metadata.go
  internal/inputs/inputs.go
Due: apps

chore(release): v2.165.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use new config format
  area/apps/apps.pbtxt
Due: apps

feat(apps): use new config format (#1174)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.166.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update grpc
  area/apps/apps.pbtxt
Due: apps

feat(apps): update grpc (#1175)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.167.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): move cli packages out
  area/apps/apps.pbtxt
Due: apps

feat(apps): move cli packages out (#1176)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.168.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): move config source
  area/apps/apps.pbtxt
Due: apps

feat(apps): move config source (#1178)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.169.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use new client/server module
  area/apps/apps.pbtxt
Due: apps

feat(apps): use new client/server module (#1179)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.170.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): ignore client redirects
  area/apps/apps.pbtxt
Due: apps

feat(apps): ignore client redirects (#1180)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.171.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use more aliases
  area/apps/apps.pbtxt
Due: apps

feat(apps): use more aliases (#1181)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.172.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use alexfalkowski/k8s:1.56
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use alexfalkowski/k8s:1.56 (#1182)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

docs(readme): update apps
  README.md
  assets/..png
Due: none

docs(readme): update apps (#1185)
  README.md
  assets/..png
Due: none

chore(release): v2.173.0 [ci skip]
  CHANGELOG.md
Due: none

feat(do): add resource
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/do/do.pbtxt
  internal/do/do.go
Due: do

feat(do): add resource (#1186)
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/do/do.pbtxt
  internal/do/do.go
Due: do

chore(release): v2.174.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use new decoder for config
  area/apps/apps.pbtxt
Due: apps

feat(apps): use new decoder for config (#1187)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.175.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): restructure debug
  area/apps/apps.pbtxt
Due: apps

feat(apps): restructure debug (#1188)
  area/apps/apps.pbtxt
Due: apps
