Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

release(bezeichner): upgraded to v1.769.0 (#2400)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2403)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(standort): upgraded to v2.761.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.761.0 (#2404)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.770.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.770.0 (#2405)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.334.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.334.0 (#2406)
  area/apps/apps.hjson
Due: apps

build(agents): update shared location
  AGENTS.md
Due: none

build(agents): update shared location (#2408)
  AGENTS.md
Due: none

build(ci): use latest published images (#2409)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.771.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.771.0 (#2417)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.762.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.762.0 (#2418)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.335.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.335.0 (#2419)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.336.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.336.0 (#2421)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.772.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.772.0 (#2420)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.763.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.763.0 (#2422)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.773.0
  area/apps/apps.hjson
Due: apps
