Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

release(standort): upgraded to v2.680.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.680.0 (#1940)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.247.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.247.0 (#1941)
  area/apps/apps.hjson
Due: apps

chore(release): v2.402.0 [ci skip]
  CHANGELOG.md
Due: none

release(bezeichner): upgraded to v1.690.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.690.0 (#1943)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.681.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.681.0 (#1944)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.248.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.248.0 (#1945)
  area/apps/apps.hjson
Due: apps

feat(k8s): remove better-stack
  area/k8s/Makefile
Due: none

feat(k8s): remove better-stack (#1946)
  area/k8s/Makefile
Due: none

chore(release): v2.403.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): remove otlp
  area/apps/apps.hjson
  area/apps/lean.mk
  area/apps/lean/bezeichner.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
Due: apps

feat(apps): remove otlp (#1947)
  area/apps/apps.hjson
  area/apps/lean.mk
  area/apps/lean/bezeichner.yaml
  area/apps/lean/standort.yaml
  area/apps/lean/web.yaml
Due: apps

chore(release): v2.404.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.405.0 [ci skip]
  CHANGELOG.md
Due: none

release(bezeichner): upgraded to v1.691.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.691.0 (#1949)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.682.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.682.0 (#1950)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.249.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.249.0 (#1951)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.692.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.692.0 (#1954)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.683.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.683.0 (#1953)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1956)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(web): upgraded to v1.250.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.250.0 (#1952)
  area/apps/apps.hjson
Due: apps

chore(release): v2.406.0 [ci skip]
  CHANGELOG.md
Due: none

release(web): upgraded to v1.251.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.251.0 (#1958)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.693.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.693.0 (#1959)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.684.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.684.0 (#1960)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.694.0
  area/apps/apps.hjson
Due: apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: internal/gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: internal/cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: internal/do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: internal/app/.*)) or (any of: go.*)
