Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

feat(do): udpate to 1.35.5-do.0 (#2721)
  internal/do/do.go
Due: do

feat(k8s): update deps
  area/k8s/Makefile
Due: none

feat(k8s): update deps (#2722)
  area/k8s/Makefile
Due: none

feat(do): update to 1.36.0-do.0
  internal/do/do.go
Due: do

feat(do): update to 1.36.0-do.0 (#2723)
  internal/do/do.go
Due: do

release(bezeichner): upgraded to v1.837.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.837.0 (#2724)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2725)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(k8s): harden workload security posture
  area/k8s/Makefile
  internal/app/app_test.go
  internal/app/container.go
Due: apps

feat(k8s): harden workload security posture (#2726)
  area/k8s/Makefile
  internal/app/app_test.go
  internal/app/container.go
Due: apps

release(bezeichner): upgraded to v1.838.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.838.0 (#2733)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.405.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.833.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.405.0 (#2734)
  area/apps/apps.hjson
Due: apps

feat(do): update to 1.36.0-do.1
  internal/do/do.go
Due: do

feat(do): update to 1.36.0-do.1 (#2736)
  internal/do/do.go
Due: do

release(standort): upgraded to v2.834.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.834.0 (#2737)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.406.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.406.0 (#2738)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.839.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.839.0 (#2739)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.835.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.835.0 (#2741)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.407.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.407.0 (#2740)
  area/apps/apps.hjson
Due: apps

Path conditions:
  gh: (((any of: .circleci/.*) or (any of: area/gh/.*)) or (any of: internal/gh/.*)) or (any of: go.*)
  cf: (((any of: .circleci/.*) or (any of: area/cf/.*)) or (any of: internal/cf/.*)) or (any of: go.*)
  do: (((any of: .circleci/.*) or (any of: area/do/.*)) or (any of: internal/do/.*)) or (any of: go.*)
  apps: (((any of: .circleci/.*) or (any of: area/apps/.*)) or (any of: internal/app/.*)) or (any of: go.*)
