Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.0.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

chore(release): v1.273.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#579)
  area/apps/lean/bezeichner.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.274.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

feat(apps): update versions (#580)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.275.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#582)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.276.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#584)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.277.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update bezeichner to v1.222.1
  area/apps/lean/bezeichner.go
Due: apps

fix(apps): update bezeichner to v1.222.1 (#585)
  area/apps/lean/bezeichner.go
Due: apps

chore(release): v1.277.1 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): update versions
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

fix(apps): update versions (#586)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.277.2 [ci skip]
  CHANGELOG.md
Due: none

fix(do): update to 1.31.1-do.5
  do/do.go
Due: do

fix(do): update to 1.31.1-do.5 (#587)
  do/do.go
Due: do

chore(release): v1.277.3 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.278.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.279.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update versions (#590)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.280.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps):
  area/apps/lean/web.go
Due: apps

feat(apps): update web to v0.97.0
  area/apps/lean/web.go
Due: apps

feat(apps): update web to v0.97.0 (#592)
  area/apps/lean/web.go
Due: apps

chore(release): v1.281.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): update golang config
  .golangci.yml
Due: none

build(ci): update golang config (#593)
  .golangci.yml
Due: none

feat(apps): update versions (#594)
  area/apps/lean/bezeichner.go
  area/apps/lean/konfig.go
  area/apps/lean/standort.go
  area/apps/lean/web.go
Due: apps

chore(release): v1.282.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.283.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v1.284.0 [ci skip]
  CHANGELOG.md
Due: none
