Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

chore(release): v2.415.0 [ci skip]
  CHANGELOG.md
Due: none

release(web): upgraded to v1.258.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.258.0 (#2005)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2008)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2009)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#2010)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.702.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.702.0 (#2011)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.693.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.693.0 (#2012)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images (#2013)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(web): upgraded to v1.259.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.259.0 (#2014)
  area/apps/apps.hjson
Due: apps

chore(release): v2.416.0 [ci skip]
  CHANGELOG.md
Due: none

release(standort): upgraded to v2.694.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.694.0 (#2016)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.703.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.703.0 (#2018)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.260.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.260.0 (#2017)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images (#2019)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(web): upgraded to v1.261.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.261.0 (#2020)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
  go.mod
  go.sum
Due: gh, cf, do, apps

build(ci): use latest published images (#2021)
  .circleci/continue_config.yml
  go.mod
  go.sum
Due: gh, cf, do, apps

chore(release): v2.417.0 [ci skip]
  CHANGELOG.md
Due: none

release(bezeichner): upgraded to v1.704.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.704.0 (#2023)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.695.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.695.0 (#2024)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.262.0
  area/apps/apps.hjson
Due: apps
