Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(apps): update casbin to 2.108.0
  .circleci/continue_config.yml
  area/apps/apps.pbtxt
Due: gh, cf, do, apps

feat(apps): update casbin to 2.108.0 (#1258)
  .circleci/continue_config.yml
  area/apps/apps.pbtxt
Due: gh, cf, do, apps

chore(release): v2.233.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): use new context package
  area/apps/apps.pbtxt
Due: apps

feat(apps): use new context package (#1259)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.234.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): allow the posibility to extend collaborators
  .circleci/continue_config.yml
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/gh/gh.pbtxt
  internal/gh/collaborator.go
  internal/gh/gh.go
Due: gh, cf, do, apps

feat(gh): allow the posibility to extend collaborators (#1260)
  .circleci/continue_config.yml
  README.md
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/gh/gh.pbtxt
  internal/gh/collaborator.go
  internal/gh/gh.go
Due: gh, cf, do, apps

build(ci): reenable api-breaking
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.235.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): reenable api-breaking (#1261)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(gh): add go-monolith
  area/gh/gh.pbtxt
Due: gh

feat(gh): add go-monolith (#1262)
  area/gh/gh.pbtxt
Due: gh

chore(release): v2.236.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): add pages for go-monolith
  area/gh/gh.pbtxt
Due: gh

feat(gh): add pages for go-monolith (#1263)
  area/gh/gh.pbtxt
Due: gh

chore(release): v2.237.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use alexfalkowski/go:2.29
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use alexfalkowski/go:2.29 (#1264)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(cf): archive sasha
  area/apps/apps.pbtxt
  area/cf/cf.pbtxt
  area/gh/gh.pbtxt
  internal/cf/cf_test.go
Due: gh, cf, apps

feat(cf): archive sasha (#1265)
  area/apps/apps.pbtxt
  area/cf/cf.pbtxt
  area/gh/gh.pbtxt
  internal/cf/cf_test.go
Due: gh, cf, apps

chore(release): v2.238.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): remove verify-sasha
  area/apps/lean.mk
Due: apps

feat(apps): remove verify-sasha (#1266)
  area/apps/lean.mk
Due: apps

chore(release): v2.239.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.240.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use alexfalkowski/k8s:1.67
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use alexfalkowski/k8s:1.67 (#1268)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(gh): add tausch
  area/gh/gh.pbtxt
Due: gh

feat(gh): add tausch (#1269)
  area/gh/gh.pbtxt
Due: gh

chore(release): v2.241.0 [ci skip]
  CHANGELOG.md
Due: none

feat(gh): enable collaborators for tausch
  area/gh/gh.pbtxt
Due: gh

feat(gh): enable collaborators for tausch (#1270)
  area/gh/gh.pbtxt
Due: gh

chore(release): v2.242.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.243.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update yaml dep as it is deprecated
  area/apps/apps.pbtxt
Due: apps

feat(apps): update yaml dep as it is deprecated (#1272)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.244.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use alexfalkowski/k8s:1.70
  .circleci/continue_config.yml
  .golangci.yml
  internal/app/app.go
  internal/cf/cf.go
  internal/do/do.go
  internal/gh/gh.go
Due: gh, cf, do, apps

build(ci): use alexfalkowski/k8s:1.70 (#1273)
  .circleci/continue_config.yml
  .golangci.yml
  internal/app/app.go
  internal/cf/cf.go
  internal/do/do.go
  internal/gh/gh.go
Due: gh, cf, do, apps
