Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

release(web): upgraded to v1.172.0 (#1540)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.612.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.612.0 (#1541)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.603.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.603.0 (#1542)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.173.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.173.0 (#1543)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.604.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.604.0 (#1545)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.613.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.613.0 (#1546)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.174.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.174.0 (#1547)
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1548)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.327.0 [ci skip]
  CHANGELOG.md
Due: none

release(bezeichner): upgraded to v1.614.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.614.0 (#1550)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.175.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.175.0 (#1551)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.605.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.605.0 (#1552)
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images (#1553)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1554)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.328.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1557)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.329.0 [ci skip]
  CHANGELOG.md
Due: none

release(bezeichner): upgraded to v1.615.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.615.0 (#1558)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.606.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.606.0 (#1559)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.176.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.176.0 (#1560)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.330.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use blobless
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use blobless (#1563)
  .circleci/continue_config.yml
Due: gh, cf, do, apps
