Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(cf): add support for ipv4/6 (#1107)
  .circleci/continue_config.yml
  Makefile
  api/infraops/v2/service.pb.go
  api/infraops/v2/service.proto
  area/apps/Makefile
  area/cf/cf.pbtxt
  internal/cf/balancer.go
  internal/cf/cf_test.go
Due: gh, cf, do, apps

docs(readme):
  README.md
Due: none

chore(release): v2.118.0 [ci skip]
  CHANGELOG.md
Due: none

docs(readme): (#1108)
  README.md
Due: none

feat(apps): bump deps
  .circleci/continue_config.yml
  area/apps/apps.pbtxt
Due: gh, cf, do, apps

feat(apps): bump deps (#1109)
  .circleci/continue_config.yml
  area/apps/apps.pbtxt
Due: gh, cf, do, apps

chore(release): v2.119.0 [ci skip]
  CHANGELOG.md
Due: none

feat(cf): use fmt.Sprintf
  internal/cf/balancer.go
Due: cf

refactor(cf): extract record func
  internal/cf/balancer.go
Due: cf

refactor(cf): extract record func (#1111)
  internal/cf/balancer.go
Due: cf

feat(apps): use markdown for sasha
  area/apps/apps.pbtxt
Due: apps

feat(apps): use markdown for sasha (#1112)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.120.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add meta and model to view for mvc
  area/apps/apps.pbtxt
Due: apps

feat(apps): add meta and model to view for mvc (#1113)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.121.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): make sure we use info from model
  area/apps/apps.pbtxt
Due: apps

fix(apps): make sure we use info from model (#1114)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.121.1 [ci skip]
  CHANGELOG.md
Due: none

build(apps): use @echo
  area/apps/lean.mk
Due: apps

build(apps): use @echo (#1115)
  area/apps/lean.mk
Due: apps

feat(apps): add cache for sasha
  area/apps/apps.pbtxt
Due: apps

feat(apps): add cache for sasha (#1117)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.122.0 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): add missing cache config for sasha
  area/apps/lean/sasha.yaml
Due: apps

fix(apps): add missing cache config for sasha (#1118)
  area/apps/lean/sasha.yaml
Due: apps

chore(release): v2.122.1 [ci skip]
  CHANGELOG.md
Due: none

fix(apps): make sure we set the error correctly to display info for sasha
  area/apps/apps.pbtxt
Due: apps

fix(apps): make sure we set the error correctly to display info for sasha (#1119)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.122.2 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): update go-service to v1.594.0
  area/apps/apps.pbtxt
Due: apps

feat(apps): update go-service to v1.594.0 (#1120)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.123.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add ability to use text mime type
  area/apps/apps.pbtxt
Due: apps

feat(apps): add ability to use text mime type (#1121)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.124.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): writing errors are part of context
  area/apps/apps.pbtxt
Due: apps

feat(apps): writing errors are part of context (#1122)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.125.0 [ci skip]
  CHANGELOG.md
Due: none

feat(apps): add common errors
  area/apps/apps.pbtxt
Due: apps
