Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

release(bezeichner): upgraded to v1.655.0 (#1750)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.216.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.216.0 (#1752)
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1755)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1756)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.368.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1757)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1758)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(bezeichner): upgraded to v1.656.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.649.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.656.0 (#1759)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.217.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.217.0 (#1761)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.649.0 (#1762)
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.218.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.218.0 (#1764)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.657.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.657.0 (#1763)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.650.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.650.0 (#1765)
  area/apps/apps.pbtxt
Due: apps

feat(do): update to 1.34.1-do.1
  internal/do/do.go
Due: do

feat(do): update to 1.34.1-do.1 (#1766)
  internal/do/do.go
Due: do

chore(release): v2.369.0 [ci skip]
  CHANGELOG.md
Due: none

feat(k8s): update deps
  area/k8s/Makefile
Due: none

feat(k8s): update deps (#1767)
  area/k8s/Makefile
Due: none

chore(release): v2.370.0 [ci skip]
  CHANGELOG.md
Due: none

release(web): upgraded to v1.219.0
  area/apps/apps.pbtxt
Due: apps

release(web): upgraded to v1.219.0 (#1768)
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.651.0
  area/apps/apps.pbtxt
Due: apps

release(standort): upgraded to v2.651.0 (#1769)
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.658.0
  area/apps/apps.pbtxt
Due: apps

release(bezeichner): upgraded to v1.658.0 (#1770)
  area/apps/apps.pbtxt
Due: apps

feat(deps): make update-all-dep
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(deps): make update-all-dep (#1771)
  go.mod
  go.sum
Due: gh, cf, do, apps

chore(release): v2.371.0 [ci skip]
  CHANGELOG.md
Due: none
