Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

release(standort): upgraded to v2.886.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.886.0 (#3012)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#3013)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(deps): upgraded github.com/pulumi/pulumi/sdk/v3 v3.249.0 => v3.250.0
  go.mod
  go.sum
Due: gh, cf, do, apps

feat(deps): upgraded github.com/pulumi/pulumi/sdk/v3 v3.249.0 => v3.250.0 (#3014)
  go.mod
  go.sum
Due: gh, cf, do, apps

release(web): upgraded to v1.452.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.452.0 (#3015)
  area/apps/apps.hjson
Due: apps

feat(k8s): update to 1.36.0-do.2
  area/k8s/Makefile
  internal/do/do.go
Due: do

feat(k8s): update to 1.36.0-do.2 (#3017)
  area/k8s/Makefile
  internal/do/do.go
Due: do

release(standort): upgraded to v2.887.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.887.0 (#3018)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.890.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.888.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.890.0 (#3020)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.453.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.453.0 (#3022)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.891.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.891.0 (#3025)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.889.0
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.889.0 (#3026)
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.454.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.454.0 (#3027)
  area/apps/apps.hjson
Due: apps

build(ci): use latest published images (#3029)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

release(web): upgraded to v1.455.0
  area/apps/apps.hjson
Due: apps

release(web): upgraded to v1.455.0 (#3031)
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.892.0
  area/apps/apps.hjson
Due: apps

release(bezeichner): upgraded to v1.892.0 (#3033)
  area/apps/apps.hjson
Due: apps

release(standort): upgraded to v2.890.0
  area/apps/apps.hjson
Due: apps
