Repository alexfalkowski/infraops: changes, and which CircleCI parameters are due for each by the changed paths.
All: gh, cf, do, apps

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path_filtering: circleci/path-filtering@1.2.0

workflows:
  filter:
    jobs:
      - path_filtering/filter:
          tag: "3.9"
          mapping: |
            .circleci/.* gh true
            area/gh/.* gh true
            internal/gh/.* gh true
            go.* gh true

            .circleci/.* cf true
            area/cf/.* cf true
            internal/cf/.* cf true
            go.* cf true

            .circleci/.* do true
            area/do/.* do true
            internal/do/.* do true
            go.* do true

            .circleci/.* apps true
            area/apps/.* apps true
            internal/app/.* apps true
            go.* apps true
          base-revision: origin/master
          resource_class: large

feat(standort): upgraded to v2.559.0
  area/apps/apps.pbtxt
Due: apps

feat(web): upgraded to v1.130.0
  area/apps/apps.pbtxt
Due: apps

feat(web): upgraded to v1.130.0 (#1331)
  area/apps/apps.pbtxt
Due: apps

feat(bezeichner): upgraded to v1.569.0 (#1329)
  area/apps/apps.pbtxt
Due: apps

feat(standort): upgraded to v2.559.0 (#1330)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.276.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images
  .circleci/continue_config.yml
Due: gh, cf, do, apps

build(ci): use latest published images (#1332)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

chore(release): v2.277.0 [ci skip]
  CHANGELOG.md
Due: none

feat(bezeichner): upgraded to v1.570.0
  area/apps/apps.pbtxt
Due: apps

feat(standort): upgraded to v2.560.0
  area/apps/apps.pbtxt
Due: apps

feat(standort): upgraded to v2.560.0 (#1336)
  area/apps/apps.pbtxt
Due: apps

feat(bezeichner): upgraded to v1.570.0 (#1335)
  area/apps/apps.pbtxt
Due: apps

feat(web): upgraded to v1.131.0
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.278.0 [ci skip]
  CHANGELOG.md
Due: none

feat(web): upgraded to v1.131.0 (#1337)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.279.0 [ci skip]
  CHANGELOG.md
Due: none

feat(do): update cluster to 1.33.1-do.2
  internal/do/do.go
Due: do

feat(do): update cluster to 1.33.1-do.2 (#1338)
  internal/do/do.go
Due: do

chore(release): v2.280.0 [ci skip]
  CHANGELOG.md
Due: none

feat(standort): upgraded to v2.561.0
  area/apps/apps.pbtxt
Due: apps

feat(bezeichner): upgraded to v1.571.0
  area/apps/apps.pbtxt
Due: apps

feat(web): upgraded to v1.132.0
  area/apps/apps.pbtxt
Due: apps

build(ci): use latest published images (#1339)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(web): upgraded to v1.132.0 (#1342)
  area/apps/apps.pbtxt
Due: apps

feat(bezeichner): upgraded to v1.571.0 (#1341)
  area/apps/apps.pbtxt
Due: apps

feat(standort): upgraded to v2.561.0 (#1340)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.281.0 [ci skip]
  CHANGELOG.md
Due: none

chore(release): v2.282.0 [ci skip]
  CHANGELOG.md
Due: none

feat(standort): upgraded to v2.562.0
  area/apps/apps.pbtxt
Due: apps

feat(standort): upgraded to v2.562.0 (#1344)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.283.0 [ci skip]
  CHANGELOG.md
Due: none

feat(bezeichner): upgraded to v1.572.0
  area/apps/apps.pbtxt
Due: apps

feat(bezeichner): upgraded to v1.572.0 (#1345)
  area/apps/apps.pbtxt
Due: apps

chore(release): v2.284.0 [ci skip]
  CHANGELOG.md
Due: none

build(ci): use latest published images (#1346)
  .circleci/continue_config.yml
Due: gh, cf, do, apps

feat(gh): allow auto merge
  internal/gh/repository.go
Due: gh

feat(gh): allow auto merge (#1347)
  internal/gh/repository.go
Due: gh
